<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>
    <style>
        .color-legend {
            display: flex;
            align-items: center;
        }

        .color-box {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        .buttonload {
            border: solid; 
            border-width: 1px;
            padding: 12px 24px; /* Some padding */
            font-size: 16px; /* Set a font-size */
            width: 150px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <%- include('./partials/header_logo'); -%>
            <%- include('./partials/header',{titel: "Sales Order"}); -%>
                <%- include('./partials/sidebar_sa'); -%>
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"></h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-validation">
                                                <form class="needs-validation" action="/sales_order/add_sales"
                                                    method="post" id="form">
                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.customer %>  <span class="text-red">*</span></label>
                                                                <select class="form-control" name="customer"
                                                                    id="customer" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% customer.forEach((customer)=> { %>
                                                                        <option value="<%= customer.name %>">
                                                                            <%= customer.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Type Of Discount  <span class="text-red">*</span></label>
                                                                <select class="form-control" name="type_discount" id="type_discount" onchange="toggleVolumeDeals()" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <option value="cust_spec">Customer Specific</option>
                                                                    <option value="vol_deals">Volume Deals</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-sm-4" id="volume_deals" style="display: none;">
                                                            <div class="form-group">
                                                                <!-- <label for="invoice_no">Type Of Discount  <span class="text-red">*</span></label> -->
                                                                <input type="radio" id="volume_deals_type" name="volume_deals_type" class="form-check-input" onclick="volume_general()" value="appl">
                                                                <label for="volume_deals_type">Applied</label><br>

                                                                <input type="radio" id="volume_deals_type" name="volume_deals_type" class="form-check-input" onclick="volume_general()" value="uappl">
                                                                <label for="volume_deals_type">Unapplied</label><br>
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-4" id="custom_specific" style="display: none;">
                                                            <div class="form-group" id="customer_view">
                                                                <!-- <input type="checkbox" id="age1" name="age" class="form-check-input" value="uappl">
                                                                <label for="age1">3%</label><br>
                                                                <input type="checkbox" id="age1" name="age" class="form-check-input" value="uappl">
                                                                <label for="age1">3%</label><br> -->
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.date %> <span class="text-red">*</span></label>
                                                                <input type="date" name="date" class="form-control"
                                                                    id="date" required>
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Sales Order Number<span class="text-red">*</span></label>
                                                                <input type="text" name="JD" class="form-control"
                                                                    id="JD" required>
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">PO Number</label>
                                                                <input type="text" name="po_number" class="form-control" id="po_number">
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Desired Delivery Date</label>
                                                                <input type="date" name="desire_date" class="form-control"
                                                                    id="desire_date">
                                                            </div>
                                                        </div>
                                                            
                                                    </div>
                                                    <div class="row mb-3">
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-6">
                                                            <select class="form-control" id="product_down">
                                                                <option value="">Select Product</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-xl-2 col-sm-6">
                                                            <input type="button" class="btn btn-primary" id="rfrshData" value="Refresh Product List">
                                                            <span id="loadingIcon" class="btn btn-primary" style="display: none;"> <i class="fas fa-spinner fa-spin"></i>Loading</span>
                                                        </div>

                                                        
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table primary-table-bordered" id="sales_tbl_new">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th scope="col">is Free Goods</th>
                                                                        <th scope="col">Item Code </th>
                                                                        <th scope="col">Item Description </th>
                                                                        <!-- <th scope="col">Primary Barcode </th>
                                                                        <th scope="col">Batch Code</th>
                                                                        <th scope="col">Production date </th>
                                                                        <th scope="col">Expiry date </th> -->
                                                                        <!-- <th scope="col"><%= language.in_stock %> </th> -->
                                                                        <th scope="col">UOM </th>
                                                                        <th scope="col"><%= language.quantity %> <span class="text-red">*</span></th>
                                                                        
                                                                        <th scope="col">Price </th>
                                                                        <th scope="col">All. Discount</th>
                                                                        <th scope="col">Dist. Adj</th>
                                                                        <th scope="col">Net Sales Value</th>
                                                                        <th scope="col">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPage_NewOut">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="note"><%= language.note %> </label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="note" id="note" name="note">
                                                            </div>
                                                        </div>
                                                           
                                                    </div>
                                                </form>
                                                <div class="row">
                                                    <button class="btn btn-primary" type="submit" id="purchase_submit"  >Submit </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <%- include('./partials/footer'); -%>
    </div>
        <%- include('./partials/toastr'); -%>
        <%- include('./partials/script'); -%>
        <script>
            function product_load(){
                document.getElementById('rfrshData').style.display = 'none';
                document.getElementById('loadingIcon').style.display = 'inline-block';
            }
            function Limit_Date_Today(){
                var dtToday = new Date();
                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                if(month < 10)
                    month = '0' + month.toString();
                if(day < 10)
                    day = '0' + day.toString();
                var maxDate = year + '-' + month + '-' + day;
                $('#date').attr('max', maxDate);
            }
            function ShowData_orig(){
                $.ajax({
                url: '/sales_order/product_list',
                method: 'POST',
                // data: { isbool: "false" },
                success: function (response) {
                    let dataProduct = "";
                    var datashowProduct = document.getElementById("product_down");
                    dataProduct += "<option value=''>Select Product</option>";

                    // console.log(response)
                    for (let index = 0; index <= response.length - 1; index++) {
                        const element = response[index];

                        // if(element.product_stock > 0){
                            dataProduct += "<option value="+element._id+">"+ element.name + "</option>";
                        // }
                        
                    }
                 
                    datashowProduct.innerHTML = dataProduct;
                }
            })
                
            }
            function checkExpiration(expirationDate, x) {
                const currentDate = new Date();
                const expirationDate1 = new Date(expirationDate); 
                const timeDifference = expirationDate1 - currentDate;
                const daysDifference = timeDifference / (1000 * 60 * 60 * 24);

                if(daysDifference <= 0){
                    const element = document.getElementById("trtable" + x);
                    element.style.backgroundColor = "red";
                }else if (daysDifference <= 30) {
                    const element = document.getElementById("trtable" + x);
                    element.style.backgroundColor = "grey";
                } else if (daysDifference <= 60 || daysDifference <= 120) {
                    const element = document.getElementById("trtable" + x);
                    element.style.backgroundColor = "yellow";
                } else {
                    const element = document.getElementById("trtable" + x);
                    element.style.backgroundColor = "green";
                }
                return
            }
            function removeSelfRow(event) {
                var row = $(event.target).closest('tr');
                row.remove();
            }
            function computePerPrice(x) {
                var qty = document.getElementById("quantity"+x);
                var price = document.getElementById("price"+x);
                var discount_price = document.getElementById("dicount_price"+x);
                var dicount_price_adjust = document.getElementById("dicount_price_adjust"+x);
                var totalPrice = document.getElementById("totalPrice"+x);

                var totalAll = 0;
                // totalAll = qty.value*price.value;
                totalAll = qty.value*(price.value-(discount_price.value+dicount_price_adjust.value));
                totalPrice.value = totalAll;
            }



            function computePerPriceDiscount(x){
                var qty = document.getElementById("quantity"+x);
                var price = document.getElementById("price"+x);
                var totalPrice = document.getElementById("totalPrice"+x);
                var dicount_price = document.getElementById("dicount_price"+x);
                var dicount_price_adjust = document.getElementById("dicount_price_adjust"+x);
                var totalAll = 0;
                totalAll = qty.value*price.value;
                console.log("1", qty.value + " * " +price.value + " = " + totalAll)
                totalAll = parseFloat(totalAll)-(parseFloat(dicount_price.value)+parseFloat(dicount_price_adjust.value));
                console.log("2", totalAll + " - " +dicount_price.value + " + " + dicount_price_adjust.value + " = " +  totalAll)
                totalPrice.value = totalAll;
            }

            function checkingQuantityStocks(x) {
                // var qty_value = parseInt(document.getElementById("quantity" + x).value, 10);
                // var stock_qty = parseInt(document.getElementById("stock_qty" + x).value, 10);

                // if (stock_qty < qty_value) {
                //     Swal.fire({
                //         title: "Warning!",
                //         text: "The requested quantity exceeds the available stock.",
                //         icon: "warning"
                //     });
                    // computePerPrice(x)
                    // document.getElementById("quantity" + x).value = "";
                    // document.getElementById("price"+x).value = "";
                // }
                // if(qty_value <= 0){
                //     Swal.fire({
                //         title: "Warning!",
                //         text: "The requested quantity exceeds the available stock.",
                //         icon: "warning"
                //     });
                    // computePerPrice(x)
                    // document.getElementById("quantity" + x).value = "";
                    // document.getElementById("price"+x).value = "";
                // }
                computePerPrice(x)
                // if(){
                    
                // }
            }

            function checkFG(x){
                var is_fg = document.getElementById("is_fg"+x);
                var price = document.getElementById("price"+x).value;
                var dicount_price = document.getElementById("dicount_price"+x);
                // var adj_dicount_price = document.getElementById("adj_dicount_price"+x);
                var totalPrice = document.getElementById("totalPrice"+x);
                var tmpPrice = price;
                if(is_fg.checked == true){
                    document.getElementById("price"+x).value = 0;
                    document.getElementById("dicount_price"+x).value = 0;
                    // document.getElementById("adj_dicount_price"+x).value = 0;
                    document.getElementById("totalPrice"+x).value = 0;
                    document.getElementById("tmpisFG"+x).value = "true";

                    document.getElementById("dicount_price"+x).readOnly = true;
                    // document.getElementById("adj_dicount_price"+x).readOnly = true;
                    document.getElementById("totalPrice"+x).readOnly = true;
                }else{
                    document.getElementById("price"+x).value = document.getElementById("tmpPrice"+x).value;
                    document.getElementById("dicount_price"+x).readOnly = false;
                    // document.getElementById("adj_dicount_price"+x).readOnly = false;
                    document.getElementById("totalPrice"+x).readOnly = false;
                    document.getElementById("tmpisFG"+x).value = "false";
                }
                
                // console.log(is_fg.checked + " <> " + price + " <> " + tmpPrice )
            }

            function confirm_saved() {
                Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm"
                })
                .then((result) => {
                if (result.isConfirmed) {
                    var strTemp = '';
                    var Customer = document.getElementById("customer");
                    var Date = document.getElementById("date");


                    Customer.style.borderColor = "";
                    if(Customer.value.length == 0){
                        strTemp += "Customer is required. <br>" 
                        Customer.style.borderColor = "red";
                        Customer.focus()
                    }


                    Date.style.borderColor = "";
                    if(Date.value.length == 0){
                        strTemp += "Date is required. <br>" 
                        Date.style.borderColor = "red";
                        Date.focus()
                    }



                    var table = document.getElementById("sales_tbl_new");
                    var noofrow = table.rows.length -1;
                    table.style.borderColor = "";
                    if(noofrow == 0){
                        strTemp += "Product list is empty. <br>"
                        table.style.borderColor = "red";
                    }



                    var prod_qty = document.getElementsByName("quantity");
                    var x = 1;
                    for (let index = 0; index < prod_qty.length; index++) {
                        const inputElement  = prod_qty[index];
                        inputElement.style.borderColor = "";
                        if(inputElement.value.length == 0){
                            strTemp += x + ". Quantity  is required. <br>"
                            inputElement.style.borderColor = "red";
                            inputElement.focus()
                        }
                        x++;
                    }



                    var price_qty = document.getElementsByName("price");
                    var x = 1;
                    for (let index = 0; index < price_qty.length; index++) {
                        const inputElement  = price_qty[index];
                        inputElement.style.borderColor = "";
                        if(inputElement.value.length == 0){
                            strTemp += x + ". Price  is required. <br>"
                            inputElement.style.borderColor = "red";
                            inputElement.focus()
                        }
                        x++;
                    }


                    if(strTemp.length > 0){
                        // modal.style.display = "none";
                        Swal.fire(
                        'Required ',
                        "<h5>" + strTemp + "</h5>",
                        'warning'
                        )
                        return;
                    }
                    document.getElementById("form").submit();
                }
                })
            }

            function toggleVolumeDeals() {
                var typeDiscount = document.getElementById("type_discount").value;
                var volumeDeals = document.getElementById("volume_deals");
                var custom_specific_data = document.getElementById("custom_specific");
                if (typeDiscount === "vol_deals") {
                    volumeDeals.style.display = "block";
                    custom_specific_data.style.display = "none";
                } else if(typeDiscount === "cust_spec"){
                    view_customer();
                    volumeDeals.style.display = "none";
                    custom_specific_data.style.display = "block";
                } else {
                    custom_specific_data.style.display = "none";
                    volumeDeals.style.display = "none";
                }
            }
            function view_customer(){
                var data_discount = document.getElementById("customer_view");
                var customer_value = document.getElementById("customer");

                $.ajax({
                        url: '/sales_sa/customer_data',
                        method: 'POST',
                        data: { customer_name : customer_value.value },
                        success: function (response) {
                            let data_view = "";

                            for (let index = 0; index <= response.customer_discount.length - 1; index++) {

                                const element = response.customer_discount[index];
                                data_view += '<input type="checkbox" id="age1" name="age" class="form-check-input" onclick="data_grossprice()" value="'+element.less+'">   ';
                                data_view += '<label for="age1">    Less '+element.less+'%</label><br>';

                            }
                            
                            data_discount.innerHTML = data_view;
                        }
                })
            }
            function volume_general(){

                $.ajax({
                        url: '/sales_sa/volume_setup',
                        method: 'POST',
                        // data: { customer_name : customer_value.value },
                        success: function (response) {

                            // console.log(response.volume_discount)
                            var theradio = document.getElementsByName("volume_deals_type");
                            var type_discount = document.getElementById("type_discount");
                            if(type_discount.value == "vol_deals"){
                                for (let a = 0; a <= theradio.length -1; a++) {
                                const choose_data = theradio[a];
                                console.log(choose_data.value + " <> " + choose_data.checked)
                                if(choose_data.value == "appl" && choose_data.checked == true){
                                    var price = document.getElementsByName("price");
                                    for (let i = 0; i <= price.length - 1; i++) {
                                        const element_detl = price[i];
                                        var theQTY = document.getElementById("quantity"+i).value;
                                        for (let index = 0; index <= response.volume_discount.length - 1; index++) {
                                            const element = response.volume_discount[index];
                                            

                                            if(element.min_car <= theQTY && element.max_car >= theQTY){
                                                // console.log(element.min_car + " <> " + element.max_car + " <> " + element.discount_price)
                                                document.getElementById("dicount_price"+i).value = element.discount_price;
                                                document.getElementById("dicount_price"+i).readOnly = true;
                                                computePerPrice(i)
                                            }
                                        }

                                    }
                                }else if(choose_data.value == "uappl" && choose_data.checked == true){
                                    var price = document.getElementsByName("price");
                                    for (let i = 0; i <= price.length - 1; i++) {
                                        const element_detl = price[i];
                                        var theQTY = document.getElementById("quantity"+i).value;
                                        document.getElementById("dicount_price"+i).value = 0;
                                    }
                                }
                                // console.log()
                            }
                            
                            }
                            
                            
                        }
                    })

                }
                function data_grossprice(){
                    var price = document.getElementsByName("price");
                    for (let i = 0; i <= price.length - 1; i++) {
                        const element_detl = price[i];
                        var data_check = document.getElementsByName("age");
                        var gross_price = element_detl.value;
                        var thePriceDiscount = 0;
                        var deeductPrice =0;
                        var total_discount = 0;
                        for (let index = 0; index <= data_check.length - 1; index++) {
                            const element = data_check[index];
                            if (element.checked == true) {
                                var discount_percentage = parseFloat(element.value) / 100;
                                var discount_amount = gross_price * discount_percentage;
                                gross_price -= discount_amount;
                                total_discount += discount_amount;
                        }
                        document.getElementById("dicount_price"+i).value = total_discount.toFixed(2);
                        // document.getElementById("totalPrice"+i).value = gross_price.toFixed(2);
                        computePerPrice(i);
                        document.getElementById("dicount_price"+i).readOnly = true;
                        
                    }

                }
                }


                function ShowData(){
                $.ajax({
                url: '/sales_sa/getProductData',
                method: 'POST',
                // data: { isbool: "false" },
                success: function (response) {
                    let dataProduct = "";
                    var datashowProduct = document.getElementById("product_down");
                    dataProduct += "<option value=''>Select Product</option>";
                    
                    for (let index = 0; index <= response.length - 1; index++) {
                        const element = response[index];
                        // console.log(element)

                        dataProduct += "<option value="+element._id+">"+ element.name + "</option>";
                    //     // console.log(element)
                    //     // console.log(element.product_list.product_stock)
                    //     if(element.product_list.product_stock > 0){
                    //         dataProduct += "<option value="+element.product_list._id+">"+ element.product_list.product_name + "</option>";
                    //     }
                        
                    }
                 
                    datashowProduct.innerHTML = dataProduct;
                }
            })
                
            }

            $(document).on('click', 'button#remove', function(event) {
                    removeSelfRow(event);
            });
            $(document).ready(function() {
                Limit_Date_Today();
                ShowData();
                

                $('#rfrshData').on('click', function() {
                    document.getElementById('rfrshData').style.display = 'none';
                    document.getElementById('loadingIcon').style.display = 'inline-block';
                    $.ajax({
                        url: '/sales_order/product_list',
                        method: 'POST',
                        // data: { isbool: "false" },
                        success: function (response) {
                            let dataProduct = "";
                            var datashowProduct = document.getElementById("product_down");
                            dataProduct += "<option value=''>Select Product</option>";
                            for (let index = 0; index <= response.length - 1; index++) {
                                const element = response[index];
                                // if(element.product_stock > 0){
                                    dataProduct += "<option value="+element._id+">"+ element.name +  "</option>";
                                // }
                                
                            }
                        
                            datashowProduct.innerHTML = dataProduct;
                            document.getElementById('rfrshData').style.display = 'inline-block';
                            document.getElementById('loadingIcon').style.display = 'none';
                        }
                    })
                })

                
                var x = 0;
                $('#product_down').on('change', function(data) {
                    var selectedValue = $(this).val();
                    $.ajax({
                        url: '/sales_order/product_data',
                        method: 'POST',
                        data: { id_data : selectedValue },
                        success: function (response) {
                            if(response.length > 0){

                                var existingIds = [];
                                var existingis_fgs = [];
                                // Iterate through existing rows to collect id_transaction values
                                $('#tblPage_NewOut tr').each(function() {
                                    var existingId = $(this).find('input[name="product_id"]').val();
                                    existingIds.push(existingId);


                                    var existingis_fg = $(this).find('input[name="is_fg"]').prop('checked');
                                    existingis_fgs.push(existingis_fg);
                                    console.log(existingis_fgs)
                                });

                                $.each(response, function(index, data) {
                                    // console.log(data)
                                    // if (existingIds.indexOf(data._id) === -1 ) {
                                        var row = $('<tr id="trtable'+x+'">');
                                        row.append($('<td>').html('<input type="checkbox" class="form-check-input" name="is_fg" id="is_fg'+x+'" onclick="checkFG('+x+')">'));
                                        row.append($('<td>').html('<input type="text" class="form-control" style="width: 250px;" style="width: 150px;" name="prod_code" value="' + data.product_code + '" readonly>'));
                                        row.append($('<td>').html('<input type="text" class="form-control" style="width: 250px;" style="width: 150px;" name="prod_name" value="' + data.name + '" readonly>'));
                                        // row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="primary_code" value="' + data.product_list.primary_code + '" readonly>'));
                                        // row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="batch_code" value="' + data.product_list.batch_code + '" readonly>'));
                                        // row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="production_date" value="' + data.product_list.production_date + '" readonly>'));
                                        // row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="expiry_date" value="' + data.product_list.expiry_date + '" readonly>'));
                                        // row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="stock_qty" id="stock_qty'+x+'" value="' + data.product_list.product_stock + '" readonly>'));
                                        row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="UOM" value="' + data.unit + '" readonly>'));
                                        row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" style="width: 150px;" name="quantity" onclick="computePerPrice('+x+');" oninput="checkingQuantityStocks('+x+'); volume_general();" id="quantity'+x+'" value="" required>'));
                                        row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" style="width: 150px;" name="price" id="price'+x+'" onkeyup="computePerPrice('+x+'); computePerPriceDiscount('+x+')" onclick="computePerPrice('+x+'); computePerPriceDiscount('+x+')" value="'+data.gross_price+'" readonly>'));
                                        row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" style="width: 150px;" name="dicount_price" id="dicount_price'+x+'" onkeyup="computePerPriceDiscount('+x+')" value="">'));
                                        row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" style="width: 150px;" name="dicount_price_adjust" id="dicount_price_adjust'+x+'" onkeyup="computePerPriceDiscount('+x+')" value="">'));
                                        row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="totalPrice" id="totalPrice'+x+'" value="" readonly>'));
                                        row.append($('<td>').html('<button type="button" class="btn btn-square btn-outline-warning" id="remove">Remove</button>'));

                                        $('<input>').attr({
                                            type: 'hidden',
                                            id: 'tmpisFG'+x,
                                            name: 'tmpisFG',
                                            value: "false"
                                        }).appendTo(row);
                                        // $('<input>').attr({
                                        //     type: 'hidden',
                                        //     id: 'expiry_date',
                                        //     name: 'expiry_date',
                                        //     value: data.product_list.expiry_date
                                        // }).appendTo(row);


                                        // $('<input>').attr({
                                        //     type: 'hidden',
                                        //     id: 'production_date',
                                        //     name: 'production_date',
                                        //     value: data.product_list.production_date
                                        // }).appendTo(row);


                                        // $('<input>').attr({
                                        //     type: 'hidden',
                                        //     id: 'batch_code',
                                        //     name: 'batch_code',
                                        //     value: data.product_list.batch_code
                                        // }).appendTo(row);

                                        $('<input>').attr({
                                            type: 'hidden',
                                            id: 'primary_code',
                                            name: 'primary_code',
                                            value: data.primary_code
                                        }).appendTo(row);

                                        $('<input>').attr({
                                            type: 'hidden',
                                            id: 'product_id',
                                            name: 'product_id',
                                            value: data._id
                                        }).appendTo(row);

                                        

                                        $('#tblPage_NewOut').append(row);
                                        data_grossprice();
                                        volume_general();
                                        // checkExpiration(data.product_list.expiry_date, x);
                                        x++;
                                    // }else{
                                    //     Swal.fire(
                                    //     '',
                                    //     data.name + ' is already exist!',
                                    //     'info'
                                    //     )
                                    // }
                                    
                                })
                            }
                        },
                        error: function(xhr, status, error) {
                            Swal.fire(
                            '',
                            'We were unable to locate the barcode you entered. Please try scanning another barcode.',
                            'warning'
                            )
                        }
                    })
                })
            
                $('#purchase_submit').on('click', function(data) {
                    confirm_saved();
                })
            })
        
        
        </script>
</body>

</html>