<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 3; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 50%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
          display: flex;
          justify-content: center;
          display: grid;
            place-items: center;
        }
    </style>

    <script>
    function saveAndContinue() {

        var strTemp = '';
        // var Invoice = document.getElementById("invoice");
        var SCRN = document.getElementById("SCRN");
        // var suppliers = document.getElementById("suppliers");
        var date = document.getElementById("date");
        var warehouse_name = document.getElementById("warehouse_name");
        // var Room_name = document.getElementById("Room_name");
        var modal = document.getElementById("myModal");

        // if(Invoice.value.length == 0){
        //     strTemp += "Document Number is required. <br>" 
        //     Invoice.style.borderColor = "red";
        //     Invoice.focus()
        // }else{
        //     Invoice.style.borderColor = "";
        // }

        if(SCRN.value.length == 0){
            strTemp += "Supplier/Client Ref Number is required. <br>"
            SCRN.style.borderColor = "red";
            SCRN.focus()
        }else{
            SCRN.style.borderColor = "";
        }

        // if(suppliers.value.length == 0){
        //     strTemp += "Supplier is required. <br>"
        //     suppliers.style.borderColor = "red";
        //     suppliers.focus()
        // }else{
        //     suppliers.style.borderColor = "";
        // }

        if(date.value.length == 0){
            strTemp += "Date received is required. <br>"
            date.style.borderColor = "red";
            date.focus()
        }else{
            date.style.borderColor = "";
        }

        if(warehouse_name.value.length == 0){
            strTemp += "Warehouse is required. <br>"
            warehouse_name.style.borderColor = "red";
            warehouse_name.focus()
        }else{
            warehouse_name.style.borderColor = "";
        }

        // if(Room_name.value.length == 0){
        //     strTemp += "Room  is required. <br>"
        //     Room_name.style.borderColor = "red";
        //     Room_name.focus()
        // }else{
        //     Room_name.style.borderColor = "";
        // }

    
        // var product_date = document.getElementsByName("product_date");

        // for (let index = 0; index < product_date.length; index++) {
        //     const inputElement  = product_date[index];

        //     if(inputElement.value.length == 0){
        //         modal.style.display = "none";
        //         strTemp += "Production date  is required. <br>"
        //         inputElement.style.borderColor = "red";
        //         inputElement.focus()
        //     }else{
        //         inputElement.style.borderColor = "";
        //     }
            
        // }


        var prod_qty = document.getElementsByName("prod_qty");

        for (let index = 0; index < prod_qty.length; index++) {
            const inputElement  = prod_qty[index];

            if(inputElement.value.length == 0){
                modal.style.display = "none";
                strTemp += "Quantity  is required. <br>"
                inputElement.style.borderColor = "red";
                inputElement.focus()
            }else{
                inputElement.style.borderColor = "";
            }
            
        }


        // var expiry_date = document.getElementsByName("expiry_date");

        // for (let index = 0; index < expiry_date.length; index++) {
        //     const inputElement  = expiry_date[index];

        //     if(inputElement.value.length == 0){
        //         modal.style.display = "none";
        //         strTemp += "Expiry date  is required. <br>"
        //         inputElement.style.borderColor = "red";
        //         inputElement.focus()
        //     }else{
        //         inputElement.style.borderColor = "";
        //     }
            
        // }


        // var batch_code = document.getElementsByName("batch_code");

        // for (let index = 0; index < batch_code.length; index++) {
        //     const inputElement  = batch_code[index];

        //     if(inputElement.value.length == 0){
        //         modal.style.display = "none";
        //         strTemp += "Batch Code is required. <br>"
        //         inputElement.style.borderColor = "red";
        //         inputElement.focus()
        //     }else{
        //         inputElement.style.borderColor = "";
        //     }
            
        // }

        var table = document.getElementById("purchases_tbl_new");
        var noofrow = table.rows.length -1;

        if(noofrow == 0){
            strTemp += "Product list is empty. <br>"
            table.style.borderColor = "red";
            document.getElementById("product_code").focus()
        }else{
            table.style.borderColor = "";
        }

        if(strTemp.length > 0){
            modal.style.display = "none";
            Swal.fire(
            'Required ',
            "<h5>" + strTemp + "</h5>",
            'warning'
            )
            return;
        }

        
        // Swal.fire({
        //         icon: 'warning',
        //         title: 'Are you sure want to finalize?',
        //         text: 'Warning: After finalizing the data, it becomes locked and unmodifiable. ',
        //         showDenyButton: true,
        //         showCancelButton: false,
        //         confirmButtonText: 'Save',
        //         denyButtonText: `Don't save`,
        //     }).then((result) => {
           
        //     if (result.isConfirmed) {
        //         document.getElementById("form").submit();
        //     } else if (result.isDenied) {
        //         Swal.fire('Changes are not saved', '', 'info')
        //     }
        //     })

        document.getElementById("form").submit();
        modal.style.display = "none";
        Swal.fire({
        title: "Loading...",
        html: "Please wait a moment",
        allowOutsideClick: false, 
        })
        Swal.showLoading()
    }
    function clearModalContent() {
    // Reset the values of elements with specific IDs to empty
    document.getElementById("SRNC").innerHTML = "";
    document.getElementById("PONumber").innerHTML = "";
    document.getElementById("supplier").innerHTML = "";
    document.getElementById("dateRec").innerHTML = "";
    document.getElementById("houseware").innerHTML = "";
    document.getElementById("moor").innerHTML = "";

    // Clear the table inside the modal
    var modalTable = document.getElementById("purchases_tbl_modal");
    modalTable.innerHTML = "";
    }


        function showConfirmation() {

        clearModalContent();
        
        var html = '';
        var NodeList = document.getElementsByName("prod_code");
        var NodeList2 = document.getElementsByName("prod_name");
        var prod_unit = document.getElementsByName("prod_unit");
        var prod_qty = document.getElementsByName("prod_qty");
        
        var batch_code = document.getElementsByName("batch_code");
        var product_date = document.getElementsByName("product_date");
        var expiry_date = document.getElementsByName("expiry_date");
        // var prod_level = document.getElementsByName("prod_level");
        var Conver = document.getElementsByName("test");

        var nodeVal = '';
        var productName = '';
        var valprod_unit = '';
        var valprod_qty = '';
        var valbatch_code = '';
        var valproduct_date = '';
        var valexpiry_date = '';
        // var valprod_level = '';
        var valConver = '';

        for (var x = 0; x < NodeList.length; x++) {
            nodeVal = NodeList[x].value;
            productName = NodeList2[x].value;
            valprod_unit = prod_unit[x].value;
            valprod_qty = prod_qty[x].value;
            valbatch_code = batch_code[x].value;
            valproduct_date = product_date[x].value;
            valexpiry_date = expiry_date[x].value;
            valConver = Conver[x].value;

            // const selectedIndex = prod_level[x].selectedIndex;
            // const selectedValue = prod_level[x].value;
            // valprod_level = prod_level[x].options[selectedIndex].text;
            
            html += '<tr>';
            html += '<td>';
            html += '<p>' + nodeVal + '</p>';
            html += '</td>';

            html += '<td>';
            html += productName;
            html += '</td>';

            html += '<td>';
            html += valbatch_code;
            html += '</td>';

            html += '<td>';
            html += valproduct_date;
            html += '</td>';

            html += '<td>';
            html += valexpiry_date;
            html += '</td>';

            html += '<td>';
            html += valprod_qty;
            html += '</td>';

            html += '<td>';
            html += valprod_unit;
            html += '</td>';
            
            html += '<td>';
            html += valConver;
            html += '</td>';

            // html += '<td>';
            // html += valprod_level;
            // html += '</td>';

            html += '</tr>';
        }

        var htmlfinal = "";
        htmlfinal += '<thead class="thead-primary">';
        htmlfinal += '<tr>';
        htmlfinal += '<th scope="col">Item Code </th>';
        htmlfinal += '<th scope="col">Item Description </th>';
        htmlfinal += '<th scope="col">Batch Code </th>';
        htmlfinal += '<th scope="col">Production Date </th>';
        htmlfinal += '<th scope="col">Expiry Date </th>';
        htmlfinal += '<th scope="col">Quantity </th>';
        htmlfinal += '<th scope="col">Unit of Measure </th>';
        htmlfinal += '<th scope="col">Conversion</th>';
        htmlfinal += '<th scope="col">Bin </th>';
        htmlfinal += '</tr>';
        htmlfinal += '</thead>';
        htmlfinal += '<tbody id="tblPage_new_modal">';
        htmlfinal += html;
        htmlfinal += '</tbody>';

        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];


        modal.style.display = "block";
        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "block";
            }
        };



        var modalContent = document.getElementById("purchases_tbl_modal");
        modalContent.innerHTML = "";

        // document.getElementById("SRNC").innerHTML =  "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+document.getElementById("SCRN").value;
        // document.getElementById("PONumber").innerHTML = "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+ document.getElementById("PO_number").value;
        // document.getElementById("supplier").innerHTML = "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+document.getElementById("suppliers").value;
        // document.getElementById("dateRec").innerHTML = "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+document.getElementById("date").value;
        // document.getElementById("houseware").innerHTML = "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+document.getElementById("warehouse_name").value;
        // document.getElementById("moor").innerHTML = "&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp"+document.getElementById("Room_name").value;
        document.getElementById("SRNC").innerHTML = document.getElementById("SCRN").value;
        document.getElementById("PONumber").innerHTML =  document.getElementById("PO_number").value;
        // document.getElementById("supplier").innerHTML = document.getElementById("suppliers").value;
        document.getElementById("dateRec").innerHTML =  document.getElementById("date").value;
        document.getElementById("houseware").innerHTML =  document.getElementById("warehouse_name").value;
        // document.getElementById("moor").innerHTML =  document.getElementById("Room_name").value;
        // document.getElementById("Inv").innerHTML = document.getElementById("invoice").value;


        modalContent.innerHTML = htmlfinal;
        
    }


    </script>
</head>

<body onload="showTextbox()" >
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: language.purchase + " (Own Stocks)"}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"><%= language.add_purchases %> </h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div>
                                        <div class="card-body" style="display: block;" >
                                            <div class="form-validation">

                                                <form class="needs-validation" action="/all_purchases_finished/view/add_purchases" method="post" id="form">

                                                    <div class="row">

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">D.R. / S.I Number</label>
                                                                <input type="text" class="form-control" name="DRSI" id="DRSI">
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"> Supplier/Client Ref Number <span
                                                                        class="text-red"> *</span></label>
                                                                <input type="text" name="SCRN" class="form-control" value=""
                                                                    id="SCRN" required>
                                                                    <input type="hidden" name="type_of_products" id="type_of_products" value="own">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Requested By</label>
                                                                <input type="text" class="form-control" name="ReqBy" id="ReqBy">
                                                            </div>
                                                        </div>
                                                        

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Date of Request</label>
                                                                <input type="date" class="form-control" name="dateofreq" id="dateofreq" value="<%= formattedDate %>" readonly>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">STO Number</label>
                                                                <input type="text" class="form-control" name="PO_number" id="PO_number">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Date received  <span
                                                                        class="text-red">*</span></label>
                                                                <input type="date" name="date" class="form-control"
                                                                    id="date" value="<%= formattedDate %>" readonly>
                                                            </div>
                                                        </div>

                                                        <!-- <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.supplier %>  <span
                                                                        class="text-red">*</span></label>
                                                                <select class="form-control" name="suppliers"
                                                                    id="suppliers" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% suppliers.forEach((suppliers)=> { %>
                                                                        <option value="<%= suppliers.name %>">
                                                                            <%= suppliers.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div> -->

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.warehouse %>  <span
                                                                        class="text-red">*</span></label>
                                                                <select class="form-control" name="warehouse_name"
                                                                    id="warehouse_name" onchange="SelectRoom(); BayBin();" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% warehouse.forEach((warehouse)=> { %>
                                                                        <option value="<%= warehouse.name %>">
                                                                            <%= warehouse.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Type of Vehicle  <span
                                                                        class="text-red">*</span></label>
                                                                <select class="form-control" name="typevehicle"
                                                                    id="typevehicle" required>
                                                                    <option value="4WH">4 WHEELER</option>
                                                                    <option value="6WH">6 WHEELER</option>
                                                                    <option value="FWD">FORWARD</option>
                                                                    <option value="10WH">10 WHEELER</option>
                                                                    <option value="10FT">10 FOOTER</option>
                                                                    <option value="20FT">20 FOOTER</option>
                                                                    <option value="40FT">40 FOOTER</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Name of trucker/Driver</label>
                                                                <input type="text" class="form-control" name="driver" id="driver">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Plate Number</label>
                                                                <input type="text" class="form-control" name="plate" id="plate">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Van/Seal Number</label>
                                                                <input type="text" class="form-control" name="van" id="can">
                                                            </div>
                                                        </div>

                                                        

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">TIME START UNLOADING</label>
                                                                <input type="time" class="form-control" name="TSU" id="TSU" readonly>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label">TIME FINISH UNLOADING</label>
                                                                <input type="time" class="form-control" name="TFU" id="TFU" readonly>
                                                            </div>
                                                        </div>





                                                    </div>

                                                    <div class="row mb-3">
                                                        <!-- <div class="col-xl-4 col-sm-6">
                                                            <select class="form-control" id="choice-dropdown" onchange="showTextbox()">
                                                                <option value="Primary">Please Scan the Barcode...</option>
                                                            </select>
                                                        </div>     -->
                                                            
                                                        <div class="col-xl-12" id="primary-textbox" style="display: block;">
                                                            <div class="form-group">
                                                                <!-- <label for="invoice_no">Barcode  <span
                                                                        class="text-red">*</span></label> -->
                                                                
                                                                <a class="btn btn-primary" type="submit" id="scan_button"  >Scan now</a>
                                                                <input type="hidden" name="product_code" style="position: absolute; left: -9999px;" class="form-control" id="product_code" value="">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-12" id="secondary-textbox" style="display: none;">
                                                            <div class="form-group">
                                                                <label for="invoice_no2">Secondary Barcode  <span
                                                                        class="text-red">*</span></label>
                                                                <input type="text" name="product_code2" class="form-control" id="product_code2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table primary-table-bordered" id="purchases_tbl_new">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th scope="col">Item Code </th>
                                                                        <th scope="col">Item Description </th>
                                                                        <th scope="col">Primary Barcode </th>
                                                                        <th scope="col">Batch Code </th>
                                                                        <th scope="col">Production date </th>
                                                                        <th scope="col">Expiry date </th>
                                                                        <th scope="col"><%= language.quantity %> </th>
                                                                        <th scope="col">Unit of Measure </th>
                                                                        <th scope="col">Conversion</th>
                                                                        <!-- <th scope="col">Room</th>
                                                                        <th scope="col">Bin </th> -->
                                                                        <th scope="col">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPage_new">
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="note"><%= language.note %> </label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="note" id="note" name="note">
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    
                                                    </div>

                                
                                                </form>

                                                <div class="row">
                                                    <button class="btn btn-primary" onclick="showConfirmation()" type="submit" id="purchase_submit"  ><%= language.submit %> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Summary</h2>
                          </div>
                          <div class="modal-body">

                           
                            

                            <table style="width:50%" >
                                <thead>
                                    <tr>
                                        <td>Document Number:</td>
                                        <td><b id="Inv"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Supplier/Client Ref Number:</td>
                                        <td><b id="SRNC"></b></td>
                                    </tr>

                                    <tr>
                                        <td>PO number: </td>
                                        <td><b id="PONumber"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Supplier:</td>
                                        <td><b id="supplier"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Date received:</td>
                                        <td><b id="dateRec"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Warehouse:</td>
                                        <td><b id="houseware"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Room:</td>
                                        <td><b id="moor"></b></td>
                                    </tr>
                                </thead>
                            </table>
                            
                          </div>
                          <div class="table-responsive">
                            <table class="table primary-table-bordered" style="width:100%" id="purchases_tbl_modal">

                            </table>
                          </div>
                          
                          <div class="modal-footer">
                            <button class="btn btn-primary" onclick="saveAndContinue()">Save and Continue</button>
                          </div>
                        </div>
                      
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->

       
        <%- include('./partials/script'); -%>
    <script>

    $(function(){
        var dtToday = new Date();
        
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        
        var maxDate = year + '-' + month + '-' + day;
        $('#date').attr('max', maxDate);
    });


    
    function SelectRoom() {
    var variable = document.getElementById("warehouse_name").value;
    var selectRoom = $('#showRoom');

    $.ajax({
        url: '/warehousemap_Income/Rooms_data',
        method: 'POST',
        data: { warehouse_name: variable },
        success: function (response) {
            selectRoom.empty();

            $.each(response, function (index, data) {
                var roomName = data.room_name;
                var roomCode = data.room_name;

                // Create checkbox element instead of option
                var checkboxElement = $('<input>')
                    .attr('type', 'checkbox')
                    .addClass('form-check-input')
                    .val(roomName)
                    .attr("name", "room_name")
                    .attr("id", "room_data"+index)
                    .attr('roomcode', roomCode);

                // Create label for the checkbox
                var labelElement = $('<h5>').text(roomName).prepend(checkboxElement);

                // Append the label to the container
                selectRoom.append(labelElement);

                labelElement.click(function () {
                    checkboxElement.prop('checked', !checkboxElement.prop('checked'));
                });

                checkboxElement.click(function (event) {
                    event.stopPropagation();
                });

                // BayBin();
                checkboxElement.click(function () {
                    BayBin(index, roomName);
                });
            });
        }
    });
}
    
    function showTextbox() {
      var dropdown = document.getElementById("choice-dropdown");
      var selectedChoice = dropdown.value;

      var primaryTextbox = document.getElementById("primary-textbox");
      var secondaryTextbox = document.getElementById("secondary-textbox");

      if (selectedChoice === "Primary") {
        primaryTextbox.style.display = "block";
        secondaryTextbox.style.display = "none";
        document.getElementById("product_code").focus()
        
        // primaryTextbox.focus()
      } else if (selectedChoice === "Secondary") {
        primaryTextbox.style.display = "none";
        secondaryTextbox.style.display = "block";
      } else {
        primaryTextbox.style.display = "none";
        secondaryTextbox.style.display = "none";
      }
    }

    function toggleButton() {
        // const barcodeInput = document.getElementById('product_code');
        const buttonData = $('#scan_button');
        const options = {
            timeZone: 'Asia/Manila',
            hour12: false, // Use 24-hour format (military time)
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        };
        const manilaTime = new Intl.DateTimeFormat('en-US', options).format(new Date());
        if (buttonData.hasClass('btn-primary')) {
            buttonData.removeClass('btn-primary').addClass('btn-danger');
            buttonData.text('Stop Barcode');
            const barcodeInput = document.getElementById('product_code');
            const TSU = document.getElementById("TSU").value = manilaTime;
            barcodeInput.type = 'text';
            barcodeInput.focus()
            document.getElementById("purchase_submit").disabled = true
            var x=1;
            var lastIncre = 0;
            $('#product_code').on('input', function() {
                var productCode = $(this).val(); 

                console.log(productCode)

                $.ajax({
                url: '/all_purchases_finished/barcode_scanner', 
                method: 'POST',
                data: { product_code: productCode }, 
                success: function(response) {
                    $.each(response, function(index, data) {
                        console.log(data)
                        if(data.product_cat == "P"){
                            var row = $('<tr>');
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 125px;" name="prod_code" value="' + data.product_code + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 380px;" name="prod_name" id="prod_name'+ lastIncre +'" value="' + data.name + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 190px;" name="primary_code" value="' + data.primary_code + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="batch_code" value="">'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="product_date" value="" required>'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="expiry_date" id="expiry_date'+lastIncre+'" value="" required>'));
                            row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" name="prod_qty" id="prod_qty'+ lastIncre +'" onchange="ValidationForMaxQTY('+ lastIncre +')" onkeyup="ConversionKit('+lastIncre+', '+data.maxProdPerUnit+')" value="" >'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="prod_unit" id="prod_unit'+lastIncre+'" value="' + data.unit + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="test" id="Conver'+lastIncre+'" value="" readonly>'));
                            row.append($('<td>').html('<button type="button" class="btn btn-square btn-outline-danger" id="remove">Remove</button>'));
                            
                            $('<input>').attr({
                                type: 'hidden',
                                id: 'sales_data_cateory',
                                name: 'sales_data_cateory',
                                value: data.sales_category
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_secondunit',
                                name: 'prod_secondunit',
                                value: data.secondary_unit
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'uuid',
                                name: 'uuid',
                                value: uuidv4()
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_primunit',
                                name: 'prod_primunit',
                                value: data.unit
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'secondary_code',
                                name: 'secondary_code',
                                value: data.secondary_code
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'MaxStocks_data'+lastIncre,
                                name: 'MaxStocks_data',
                                value: ""
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'MaxStocks_data2'+lastIncre,
                                name: 'MaxStocks_data2',
                                value: ""
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'max_product_unit',
                                name: 'max_product_unit',
                                value: data.maxProdPerUnit
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_cat'+lastIncre,
                                name: 'prod_cat',
                                value: data.product_cat
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_othUnit'+lastIncre,
                                name: 'prod_othUnit',
                                value: data.otherUnit
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_Qty'+lastIncre,
                                name: 'prod_Qty',
                                value: ""
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'id_transaction_from'+lastIncre,
                                name: 'id_transaction_from',
                                value: data._id
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'gross_price'+lastIncre,
                                name: 'gross_price',
                                value: data.gross_price
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'product_id'+lastIncre,
                                name: 'product_id',
                                value: data._id
                            }).appendTo(row);

                            $('#tblPage_new').append(row);
                            lastIncre++;

                        }

                    })
                document.getElementById("product_code").value='';
                }
                
                })
                // document.getElementById("product_code").value='';
            
                // alert(productCode)
            })

            
            // console.log(barcodeInput)
        } else {
            buttonData.removeClass('btn-danger').addClass('btn-primary');
            buttonData.text('Scan Barcode');
            const barcodeInput = document.getElementById('product_code');
            barcodeInput.type = 'hidden';
            barcodeInput.blur();
            const TFU = document.getElementById("TFU").value = manilaTime;
            document.getElementById("purchase_submit").disabled = false
            console.log("BLUR")
        }
    }

    function ValidationForMaxQTY(i){
        var prod_qty = document.getElementById("prod_qty"+i).value;
        var stocks_qty = document.getElementById("MaxStocks_data"+i).value;
        if(parseInt(prod_qty) >  parseInt(stocks_qty)){
            Swal.fire(
            'Sorry',
            'Sorry the maximum quantity has been reached.',
            'warning'
            )
            document.getElementById("prod_qty"+i).value = "";
        }
    }


    function checkingWarehouse(x, productcode){
        var Level = document.getElementById("prod_level"+x).value;
        var warehouse = document.getElementById("warehouse_name").value;
        // alert(warehouse.length)
        if(warehouse.length <= 0){
            Swal.fire(
            'Sorry',
            'Warehouse is required!',
            'error'
            )
            document.getElementById("warehouse_name").focus()
        }
        var rooms = document.getElementById("Room_name").value;
        var productName = document.getElementById("prod_name"+x).value;
        var Quanity = document.getElementById("prod_qty"+x);
        var tempMaxStocks = document.getElementById("MaxStocks_data2"+x).value;
        $.ajax({
            url: '/all_purchases_finished/CheckingWarehouse', 
            method: 'POST',
            data: {  productCode: productcode, bay: Level , warehouses: warehouse, room: rooms  }, 
            success: function(response) {

                if(response.length > 0){
                    $.each(response, function(index, data) {
                    
                        if(productName == data.name && Level == data.bay){
                            var valQty = Quanity.value
                            if(isNaN(valQty)){
                                valQty = 0
                            }
                            var stocksData = parseInt(data.product_stock) - parseInt(data.maxProducts);
                            
                            // alert(parseInt(stocksData) + " <> "  + parseInt(data.product_stock) + " <> "  + parseInt(data.maxProducts) ) 
                            document.getElementById("MaxStocks_data"+x).value = Math.abs(parseInt(stocksData));
                            const newVal = document.getElementById("MaxStocks_data"+x).value;
                            alert(valQty + " <> "  + newVal + " <> " )
                            if(parseInt(valQty) > parseInt(newVal) ){
                            
                                if(newVal == 0){
                                    Swal.fire(
                                    'Sorry',
                                    'Sorry the maximum quantity has been reached in this pallet.',
                                    'error'
                                    )
                                    Quanity.value = newVal;
                                }else{
                                    Swal.fire(
                                    'Information',
                                    'This pallet have ' + data.product_stock + ' quantity  you will allow only ' +  newVal,
                                    'question'
                                    )

                                    Quanity.value = newVal;
                                }
                            }


                        }else{
                            Swal.fire(
                            'Sorry',
                            'Sorry the pallet already occupied.',
                            'warning'
                            )
                            Quanity.value = "";
                            // document.getElementById("prod_pallet"+x).value = "";
                            // alert("here")
                            document.getElementById("MaxStocks_data"+x).value = parseInt(tempMaxStocks);
                        }
                        
                    })

                }else{
                    
                    document.getElementById("MaxStocks_data"+x).value = parseInt(tempMaxStocks);
                    // alert(tempMaxStocks)
                }
                
            }
        })

    }

    function removeSelfRow(event) {
       
        var row = $(event.target).closest('tr');
        
        row.remove();
    }

    $(document).on('click', 'button#remove', function(event) {
        removeSelfRow(event);
    });

    function datahceck(){
        var checkBox = document.getElementsByName("typeservices");
        var arrayData = [];
        for (let index = 0; index < checkBox.length; index++) {
            const element = checkBox[index];

            if(element.checked == true){
                arrayData += element.value + ',';
            }
              
        }

        if (arrayData.endsWith(',')) {
            arrayData = arrayData.substring(0, arrayData.length - 1);
        }

        document.getElementById("typeservicesData").value = arrayData;

    
    }

    function dateExpiry(x){
        $(function(){
                    var dtToday = new Date();
                    
                    var month = dtToday.getMonth() + 1;
                    var day = dtToday.getDate();
                    var year = dtToday.getFullYear();
                    if(month < 10)
                        month = '0' + month.toString();
                    if(day < 10)
                        day = '0' + day.toString();
                    
                    var maxDate = year + '-' + month + '-' + day;
                    $('#expiry_date'+x).attr('min', maxDate);
                });
    }
    function BayBin(x, room){
        const selectlevel= document.querySelectorAll(`select[level="levelOslie`+x+`"]`);
        var warehouse = document.getElementById("warehouse_name").value;
        // var room = document.getElementById("Room_name").value;
        var levels = [];
        let outputArray = [];
        
        if(warehouse == "TAGUIG"){
            
            switch(room){
                case "1":
                levels = [
                    {
                        "start": 1,
                        "end": 16,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 17,
                        "end": 38,
                        "row": 1,
                        "letter": "B"
                    },
                    {
                        "start": 39,
                        "end": 60,
                        "row": 1,
                        "letter": "C"
                    },
                    {
                        "start": 61,
                        "end": 76,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 77,
                        "end": 92,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 93,
                        "end": 108,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 109,
                        "end": 124,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 125,
                        "end": 150,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 151,
                        "end": 176,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 177,
                        "end": 202,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "2":
                levels = [
                    {
                        "start": 203,
                        "end": 226,
                        "row": 1,
                        "letter": "B"
                    },
                    {
                        "start": 227,
                        "end": 250,
                        "row": 1,
                        "letter": "C"
                    },
                    {
                        "start": 251,
                        "end": 266,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 267,
                        "end": 282,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 283,
                        "end": 298,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 299,
                        "end": 314,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 315,
                        "end": 340,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 341,
                        "end": 366,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 367,
                        "end": 392,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;


                case "3":
                levels = [
                    {
                        "start": 393,
                        "end": 416,
                        "row": 1,
                        "letter": "B"
                    },
                    {
                        "start": 417,
                        "end": 440,
                        "row": 1,
                        "letter": "C"
                    },
                    {
                        "start": 441,
                        "end": 458,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 459,
                        "end": 476,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 477,
                        "end": 494,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 495,
                        "end": 512,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 513,
                        "end": 538,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 539,
                        "end": 563,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 564,
                        "end": 589,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "3":
                levels = [
                    {
                        "start": 393,
                        "end": 416,
                        "row": 1,
                        "letter": "B"
                    },
                    {
                        "start": 417,
                        "end": 440,
                        "row": 1,
                        "letter": "C"
                    },
                    {
                        "start": 441,
                        "end": 458,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 459,
                        "end": 476,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 477,
                        "end": 494,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 495,
                        "end": 512,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 513,
                        "end": 538,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 539,
                        "end": 563,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 564,
                        "end": 589,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "4":
                levels = [
                    {
                        "start": 590,
                        "end": 607,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 608,
                        "end": 625,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 626,
                        "end": 643,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 644,
                        "end": 661,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 662,
                        "end": 689,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 690,
                        "end": 716,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 717,
                        "end": 744,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "5":
                levels = [
                    {
                        "start": 745,
                        "end": 762,
                        "row": 1,
                        "letter": "D"
                    },
                    {
                        "start": 763,
                        "end": 780,
                        "row": 1,
                        "letter": "E"
                    },
                    {
                        "start": 781,
                        "end": 798,
                        "row": 1,
                        "letter": "F"
                    },
                    {
                        "start": 799,
                        "end": 816,
                        "row": 1,
                        "letter": "G"
                    },
                    {
                        "start": 817,
                        "end": 844,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 845,
                        "end": 871,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 872,
                        "end": 899,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "6":
                levels = [
                    {
                        "start": 899,
                        "end": 926,
                        "row": 1,
                        "letter": "H"
                    },
                    {
                        "start": 927,
                        "end": 953,
                        "row": 1,
                        "letter": "I"
                    },
                    {
                        "start": 954,
                        "end": 981,
                        "row": 1,
                        "letter": "J"
                    }
                ];
                break;

                case "AISLE":
                levels = [
                    {
                        "start": 1,
                        "end": 16,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 17,
                        "end": 32,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 39,
                        "end": 60,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 61,
                        "end": 76,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 77,
                        "end": 92,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 93,
                        "end": 108,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 109,
                        "end": 124,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 135,
                        "end": 150,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 151,
                        "end": 176,
                        "row": 1,
                        "letter": "A"
                    },
                    {
                        "start": 177,
                        "end": 202,
                        "row": 1,
                        "letter": "A"
                    },
                
                ];
                break;
            }
            
            for (let i = 0; i <= selectlevel.length - 1; i++) {
                let optionsHtml = "";
                levels.forEach((data, index) => {
                    for(let x = data.start; x <= data.end; x++){
                        // console.log(data.letter + " <> " + x)
                        optionsHtml += '<option value="'+data.letter+ x + '">'+data.letter+ x + '</option>';
                    }
                });
                selectlevel[i].innerHTML = optionsHtml;
            }
        }
}

    function ConversionKit(x,c){
       
       var unit = document.getElementById("prod_unit"+x).value;
       var qty = document.getElementById("prod_qty"+x).value;
       var prod_cat = document.getElementById("prod_cat"+x).value;
       var prod_othUnit = document.getElementById("prod_othUnit"+x).value;

       var totalQty = 0;
       var totalQty1 = 0;
       totalQty = qty +" "+unit ;
       totalQty1 = qty;
       if(prod_cat == "S"){
         totalQty1 = qty/c;

        totalQty = totalQty1 +" "+unit 
    
        if(totalQty1 >= 1){
            totalQty = totalQty1 +" "+prod_othUnit 
        }
       }
       document.getElementById("prod_Qty"+x).value = totalQty1;
       
       document.getElementById("Conver"+x).value = totalQty 

    }

    function uuidv4() {
        return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
            (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16)
        );
    }

    $(document).ready(function() {
        $('#scan_button').click(function () {
            toggleButton();
        })
    

   });
    </script>
            <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>