<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body>
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <!--**********************************
    Main wrapper start
***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
        Nav header end
    ***********************************-->

            <!--**********************************
        Header start
    ***********************************-->
            <%- include('./partials/header',{titel: language.customer_payment}); -%>

                <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

                <!--**********************************
        Sidebar start
    ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
        Sidebar end
    ***********************************-->

                    <div class="content-body">
                        <div class="container-fluid">
                            <!-- row -->

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title col-6 fw-lighter">Unsettled Payments with <strong class="fw-bold"><%= payment[0].customer %></strong></h3>
                                        <div class="card-title col-6 text-end">

                                            <button type="button" class="btn btn-rounded btn-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>

                                            <button type="button" id="customer_payment" class="btn btn-rounded btn-info">
                                                <span class="btn-icon-start text-info"><i class="la la-download"></i>
                                                </span><%= language.download %>
                                            </button>

                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <h4>
                                            <svg class="mt-3" width="30" height="30" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="15" height="15" rx="15.5" fill="green"></rect>
                                            </svg><%= language.payable %>

                                            <span class="mx-3">: 

                                                <% if(master_shop[0].currency_placement == 1) { %>

                                                    <% if(payable[0] == undefined) { %>
                                                        0
                                                    <% } else { %>
                                                        <%= payable[0].sum.toLocaleString() %> <%= master_shop[0].currency %>
                                                    <% } %> 

                                                <% } else { %>
                                                        
                                                    <% if(payable[0] == undefined) { %>
                                                        0
                                                    <% } else { %>
                                                        <%= master_shop[0].currency %> <%= payable[0].sum.toLocaleString() %>
                                                    <% } %> 
                                                <% } %>

                                            </span>
                                        </h4>
                                                
                                        <h4>
                                            <svg class="mt-3" width="30" height="30" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect width="15" height="15" rx="15.5" fill="red"></rect>
                                            </svg><%= language.receivable %>
                                            <span class="mx-2">: 

                                                <% if(master_shop[0].currency_placement == 1) { %>

                                                    <% if(receivable[0] == undefined) { %>
                                                        0
                                                    <% } else { %>
                                                        <%= receivable[0].sum.toLocaleString() %> <%= master_shop[0].currency %>
                                                    <% } %> 

                                                <% } else { %>
                                                        
                                                    <% if(receivable[0] == undefined) { %>
                                                        0
                                                    <% } else { %>
                                                        <%= master_shop[0].currency %> <%= receivable[0].sum.toLocaleString() %>
                                                    <% } %> 
                                                <% } %>

                                            </span>
                                        </h4>
                                    </div>
                                    
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table info-table-bordered" id="customer_payment_table">
                                                <thead class="thead-info">
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col"><%= language.invoice %></th>
                                                        <th scope="col"><%= language.reason %></th>
                                                        <th scope="col"><%= language.amount %></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var i=1 %>
                                                        <% payment.forEach((payment)=> { %>

                                                            <% if(master_shop[0].currency_placement == 1) { %>

                                                                <tr>
                                                                    <% if(payment.reason=="Sale Return" ) { %>
                                                                        <td class="text-red">
                                                                            <%= i %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= payment.invoice %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= payment.reason %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= payment.amount.toLocaleString() %> <%= master_shop[0].currency %>
                                                                        </td>
                                                                    <% } else { %>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= i %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= payment.invoice %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= payment.reason %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= payment.amount.toLocaleString() %> <%= master_shop[0].currency %>
                                                                        </td>
                                                                    <% } %>
                                                                </tr>

                                                            <% } else { %>
                                                                        
                                                                <tr>
                                                                    <% if(payment.reason=="Sale Return" ) { %>
                                                                        <td class="text-red">
                                                                            <%= i %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= payment.invoice %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= payment.reason %>
                                                                        </td>
                                                                    
                                                                        <td class="text-red">
                                                                            <%= master_shop[0].currency %> <%= payment.amount.toLocaleString() %>
                                                                        </td>
                                                                    <% } else { %>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= i %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= payment.invoice %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= payment.reason %>
                                                                        </td>
                                                                    
                                                                        <td class="text-green">
                                                                            <%= master_shop[0].currency %> <%= payment.amount.toLocaleString() %>
                                                                        </td>
                                                                    <% } %>
                                                                </tr>
                                                            <% } %>

                                                        <% i++ %>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->

        <%- include('./partials/script'); -%>
        
            <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>