<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body onload="ComputeConversion();  showTextbox(); SelectRoom('<%= user.room %>');">
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: language.sales}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"><%= language.edit_sale_details %> </h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-validation">

                                                <form class="needs-validation" action="/all_sales/view/<%= user._id %>"
                                                    method="post" id="form">

                                                    <div class="row mb-3">
                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Document Number </label>
                                                                <input type="text" name="invoice" class="form-control"
                                                                    id="invoice" value="<%= user.invoice %>" readonly>
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"> Supplier / Client Ref Number <span class="text-red">*</span></label>
                                                                <input type="text" name="SCRN" class="form-control"
                                                                    id="SCRN" value="<%= user.SCRN  %>">
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.customer %> </label>
                                                                <select class="form-control" name="customer"
                                                                    id="customer" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% customer.forEach((customer)=> { %>
                                                                        <option <%=user.customer==customer.name
                                                                            ? "selected" : "" %>>
                                                                            <%= customer.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-4 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.date %> </label>
                                                                <input type="date" name="date" class="form-control"
                                                                    id="date" value="<%= user.date %>" required>
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.warehouse %> </label>
                                                                <select class="form-control" name="warehouse_name"
                                                                    id="warehouse_name" onchange="SelectRoom('<%= user.room %>');" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% warehouse.forEach((warehouse)=> { %>
                                                                        <option <%=user.warehouse_name==warehouse.name
                                                                            ? "selected" : "" %>>
                                                                            <%= warehouse.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                         
                                                        </div>


                                                        <div class="col-xl-3 col-sm-6">  
                                                            <div class="form-group">
                                                                <label for="invoice_no">Room <span class="text-red">*</span></label>
                                                                <!-- <select class="form-control" name="room" id="room"
                                                                     onchange="showTextbox();" required>
                        
                                                                </select> -->

                                                                <div id="showRoom">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-6">
            
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.mode_transpo %> Mode of transportation<span class="text-red">*</span></label>
                                                                <input type="text" name="mode_transpo" class="form-control" id="mode_transpo"  value="" >
                                                            </div>
                                                        </div>
<!-- 
                                                        <div class="col-xl-4 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.job_order_no %> Job Order No<span class="text-red">*</span></label>
                                                                <input type="text" name="job_order_no" class="form-control" id="job_order_no">
                                                            </div>
                                                        </div> -->

                                                        <div class="col-xl-4 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.name_driver %> Driver's Name<span class="text-red">*</span></label>
                                                                <input type="text" name="name_driver" class="form-control" id="name_driver">
                                                            </div>
                                                        </div>
                                                         
                                                      
                                                    </div>

                                                   

                                                    <!-- </div> -->
                                                    
                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-6">
                                                                    <select class="form-control" id="choice-dropdown" onchange="showTextbox()">
                                                                        <!-- <option value="">Select an option</option> -->
                                                                        <option value="Primary">Please Scan the Barcode...</option>
                                                                        <!-- <option value="Secondary">Secondary</option> -->
                                                                    </select>
                                                                </div> 
                                                        
                                                       <div class="col-xl-12" id="primary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no">Barcode  <span
                                                                            class="text-red">*</span></label>
                                                                    <input type="text" name="product_code" class="form-control" id="product_code">
                                                                </div>
                                                             </div>
                                                             
                                                             
                                                              <div class="col-xl-12" id="secondary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no2">Secondary Barcode  <span
                                                                            class="text-red">*</span></label>
                                                                    <input type="text" name="product_code2" class="form-control" id="product_code2">
                                                                </div>
                                                              </div> 
                                                        
                                                    </div>
                                                            
                                              
                                                             <div class="col-xl-12" id="primary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no">Barcode </label>
                                                                    <input type="text" name="product_code" class="form-control" id="product_code">
                                                                </div>
                                                             </div>
                                                             
                                                             
                                                              <div class="col-xl-12" id="secondary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no2">Secondary Barcode  <span
                                                                            class="text-red">*</span></label>
                                                                    <input type="text" name="product_code2" class="form-control" id="product_code2">
                                                                </div>
                                                              </div>
                                                        
                                                    
                                                    

                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table primary-table-bordered">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th scope="col">Item Code </th>
                                                                        <th scope="col">Item Description </th>
                                                                        <th scope="col">Primary Barcode </th>
                                                                        <th scope="col">Batch Code</th>
                                                                        <th scope="col">Production date </th>
                                                                        <th scope="col">Expiry date </th>
                                                                        <th scope="col"><%= language.in_stock %> </th>
                                                                        <th scope="col"> Requested <%= language.quantity %> <span class="text-red">*</span></th>
                                                                        <th scope="col"><%= language.quantity %> <span class="text-red">*</span></th>
                                                                        <th scope="col">Unit of Measure </th>
                                                                        <th scope="col">Conversion </th>
                                                                        <th scope="col">Room Assign </th>
                                                                        <th scope="col"> Location</th>
                                                                        <th scope="col"> Delivery Date</th>
                                                                        <th scope="col"> Delivery Code</th>
                                                                        <th scope="col">Action</th>
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPage_NewOut">
                                                                    <% var a = 0; %>
                                                                    <% user.sale_product.forEach((user)=> { %>

                                                                        <tr> 
                                                                            
                                                                            
                                                                            <td class="align-top">
                                                                                <input type="text" name="prod_code" id="prod_code" class="form-control prod_code" style="width: 150px;" value="<%= user.product_code %>" readonly>
                                                                            </td>


                                                                            <td class="align-top">
                                                                                <input type="text" name="product_name" id="product_name" class="form-control product_name" style="width: 380px;" value="<%= user.product_name %>" readonly>
                                                                            </td>
                                                                            
                                                                            <td class="align-top">
                                                                                <input type="text" name="primary_code" id="primary_code" class="form-control primary_code" style="width: 150px;" value="<%= user.primary_code %>" readonly>
                                                                            </td>
                                                                            
                                                                        
                                                                            
                                                                            <td class="align-top">
                                                                                <input type="text" name="batch_code" id="batch_code" class="form-control batch_code" style="width: 150px;" value="<%= user.batch_code %>" readonly>
                                                                            </td>


                                                                            <td>
                                                                                <div class="input-group"> 
                                                                                    <input type="date" name="production_date" class="form-control" style="width: 150px;" id="production_date" value="<%= user.production_date %>" readonly> 
                                                                                </div>
                                                                            </td>

                                                                            <td>
                                                                                <div class="input-group"> 
                                                                                    <input type="date" name="expiry_date" class="form-control" style="width: 150px;" id="expiry_date" value="<%= user.expiry_date %>" readonly> 
                                                                                </div>
                                                                            </td>

                                                                            
                                                                            

                                                                            <% product.forEach((stocks) => { %>
                                                                                <% if(user.product_name == stocks.name && user.floorlevel == stocks.floorlevel && user.type == stocks.type && user.bin == stocks.bin && user.bay == stocks.bay) { %>

                                                                                    <td class="align-top">
                                                                                        <input type="text" name="stock" id="stock" class="form-control stock" style="width: 80px;" value="<%= stocks.product_stock %>" readonly>
                                                                                    </td>


                                                                                    <td class="align-top">
                                                                                        <input type="text" name="requested_qty"
                                                                                        id="requested_qty" class="form-control edit_product_name" style="width: 150px;" value="<%= user.requested_qty %>">
                                                                                    </td>

                                                                                    <td class="align-top">
                                                                                        <input type="text" name="quantity"
                                                                                        id="quantity" class="form-control edit_product_name" style="width: 80px;" value="<%= user.quantity %>">
                                                                                    </td>


                                                                                    


                                                                                    <td class="align-top">
                                                                                        <input type="text" name="unitodmeasure" id="unitodmeasure" class="form-control unitodmeasure" style="width: 130px;" value="<%= user.unit %>" readonly>
                                                                                    </td>
        
                                                                                   

                                                                                    <td class="align-top">
                                                                                        <input type="text" name="test" id="test" class="form-control unitodmeasure" style="width: 150px;" value="" readonly>
                                                                                    </td>

                                                                                    <td class="align-top">
                                                                                        <input type="text" name="RoomAssigned" id="RoomAssigned" class="form-control unitodmeasure" style="width: 150px;" value="<%= user.room_name %>" readonly>
                                                                                    </td>

                                                                                    

                                                                                    <% var location = user.storage+user.rack+user.bay+user.bin+user.type[0]+user.floorlevel %>

                                                                                    <td class="align-top">
                                                                                        <input type="text" name="level2" id="level2" class="form-control pallet2" style="width: 100px;" value="<%= location %>" readonly>
                                                                                    </td>


                                                                                    <td class="align-top">
                                                                                        <input type="date" name="delivery_date" id="delivery_date" class="form-control delivery_date" style="width: 150px;" value="<%= user.delivery_date %>">
                                                                                    </td>


                                                                                    <td class="align-top">
                                                                                        <input type="text" name="delivery_code" id="delivery_code" class="form-control pallet" style="width: 150px;" value="<%= user.delivery_code %>">
                                                                                    </td>


                                                                                    <td class="align-top">
                                                                                        <button type="button" class="btn btn-square btn-dark" id="remove">Remove</button>
                                                                                    </td>


                                                                                    <input type="hidden" name="prod_cat" id="prod_cat" class="form-control prod_cat" style="width: 150px;" value="<%= user.prod_cat %>" readonly>
                                                                                    <input type="hidden" name="max_per_unit" id="max_per_unit" class="form-control max_per_unit" style="width: 150px;" value="<%= user.maxperunit %>" readonly>
                                                                                    <input type="hidden" name="primary_unit" id="primary_unit" class="form-control primary_unit" style="width: 150px;" value="<%= user.unit %>" readonly>
                                                                                    <input type="hidden" name="secondary_unit" id="secondary_unit" class="form-control secondary_unit" style="width: 150px;" value="<%= user.secondary_unit %>" readonly>
                                                                                    <input type="hidden" name="carton" id="carton" class="form-control carton" style="width: 150px;" value="<%= user.quantity %>" readonly>
                                                                                    <input type="hidden" name="secondary_code" id="secondary_code" class="form-control secondary_code" style="width: 150px;" value="<%= user.secondary_code %>" readonly>
                                                                                    <input type="hidden" name="level" id="level" class="form-control level" style="width: 150px;" value="<%= location %>" readonly>
                                                                                    <input type="hidden" name="CBM" id="CBM" class="form-control CBM" style="width: 150px;" value="<%= user.CBM%>" readonly>
                                                                                        


                                                                                    

                                                                                <% } %>
                                                                            <% }) %>
                                                                        </tr>
                                                                        <% a++ %>
                                                                    <% }) %>
                                                                    <input type="hidden" name="LastVal" id="LastVal" class="form-control CBM" style="width: 150px;" value="<%= a %>" readonly>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                               
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="note"><%= language.note %> </label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="note" id="note" name="note"
                                                                    value="<%= user.note %>">
                                                            </div>
                                                        </div>

                                                       
                                                    </div>

                                                    <div class="row">
                                                        <button class="btn btn-primary" type="submit"
                                                            id="submit"><%= language.submit %> </button>
                                                    </div>
                                                 </form>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->
        <%- include('./partials/script'); -%>
        
        <script>

        function ComputeConversion(){
            var stock = document.getElementsByName("stock");
            var prod_cat = document.getElementsByName("prod_cat");
            var maxperunit = document.getElementsByName("max_per_unit");
            var unitodmeasure = document.getElementsByName("unitodmeasure");
            var adjust_qty = document.getElementsByName("quantity");
            var primary_unit = document.getElementsByName("primary_unit");
            var secondary_unit = document.getElementsByName("secondary_unit");
            var test = document.getElementsByName("test");

            for(var i=0; i < stock.length; i++ ){
                valStocks = stock[i].value;
                valprod_cat = prod_cat[i].value;
                valmaxperunit = maxperunit[i].value;
                valunitodmeasure = unitodmeasure[i].value;
                valadjust_qty = adjust_qty[i].value;
                valprimary_unit = primary_unit[i].value;
                valsecondary_unit = secondary_unit[i].value;
                

                var TotalQtyStocks = 0;
                var TotalQtyQty = 0;
                var UOM;
                var Conversion;
                TotalQtyStocks = valStocks;
                TotalQtyQty = valadjust_qty;
                UOM = valprimary_unit;
                Conversion = valadjust_qty*valmaxperunit + " " +  valsecondary_unit;
                if(valprod_cat == "S"){
                    TotalQtyStocks = valStocks*valmaxperunit;
                    TotalQtyQty = valadjust_qty*valmaxperunit;
                    UOM = secondary_unit[i].value;
                    Conversion = valadjust_qty + " " +  valprimary_unit;
                }
                stock[i].value = TotalQtyStocks;
                adjust_qty[i].value = TotalQtyQty;
                unitodmeasure[i].value = UOM;
                test[i].value = Conversion;
            }
            
        }

        function dataCheckingRack(room, level){
            var dataLoc;
            if(room == "Receiving Area"){
                dataLoc = "DRF" + level.slice(5);
            }else if(room == "Shelves"){
                dataLoc = "DB1SF" + level.slice(5);
            }else{
                dataLoc = level;
            }
            
            // console.log(room + " <> " + level )
            return dataLoc
        }

        function checkExpiration(expirationDate, x) {
            const currentDate = new Date();
            const expirationDate1 = new Date(expirationDate); 
            const timeDifference = expirationDate1 - currentDate;
            const daysDifference = timeDifference / (1000 * 60 * 60 * 24);

            if(daysDifference <= 0){
                const element = document.getElementById("trtable" + x);
                element.style.backgroundColor = "red";
            }else if (daysDifference <= 30) {
                const element = document.getElementById("trtable" + x);
                element.style.backgroundColor = "grey";
            } else if (daysDifference <= 60 || daysDifference <= 120) {
                const element = document.getElementById("trtable" + x);
                element.style.backgroundColor = "yellow";
            } else {
                const element = document.getElementById("trtable" + x);
                element.style.backgroundColor = "green";
            }
            return
        }

        $(function(){
            var dtToday = new Date();
            
            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if(month < 10)
                month = '0' + month.toString();
            if(day < 10)
                day = '0' + day.toString();
            
            var maxDate = year + '-' + month + '-' + day;
            $('#date').attr('max', maxDate);
        });


             function showTextbox() {
              var dropdown = document.getElementById("choice-dropdown");
              var selectedChoice = dropdown.value;
        
              var primaryTextbox = document.getElementById("primary-textbox");
              var secondaryTextbox = document.getElementById("secondary-textbox");
        
              if (selectedChoice === "Primary") {
                primaryTextbox.style.display = "block";
                secondaryTextbox.style.display = "none";
                document.getElementById("product_code").focus()
              } else if (selectedChoice === "Secondary") {
                primaryTextbox.style.display = "none";
                secondaryTextbox.style.display = "block";
              } else {
                primaryTextbox.style.display = "none";
                secondaryTextbox.style.display = "none";
              }
            }

            // function SelectRoom(room){
            //     // alert(room)
            //     var varibale = document.getElementById("warehouse_name").value;
            //     var selectRoom = $('#room');

            //     $.ajax({
            //         url: '/warehousemap_Income/Rooms_data', 
            //         method: 'POST',
            //         data: { warehouse_name: varibale }, 
            //         success: function(response) {

                    
            //             selectRoom.empty();
            //                 $.each(response, function(index, data) {
            //                     var roomName = data.room_name;
            //                     var roomCode = data.room_name

            //                     if(room == roomName){
            //                         var option = $('<option>').text(roomName).val(roomName).attr('roomcode', roomCode).prop('selected', true);
            //                         selectRoom.append(option);
            //                     }else{
            //                         var option = $('<option>').text(roomName).val(roomName).attr('roomcode', roomCode).prop('selected', false);
            //                         selectRoom.append(option);
            //                     }
                                

            //                     // BayBin()
            //                 })


                        
            //         }
            //     })
            // }
            function ConversionKit(x,c){
                var unit = document.getElementById("prod_unit"+x).value;
                var qty = document.getElementById("quantity"+x).value;
                var prod_cat = document.getElementById("prod_cat"+x).value;
                var prod_othUnit = document.getElementById("primary_unit"+x).value;
                var prod_othUnit2 = document.getElementById("secondary_unit"+x).value;

                var totalQty = 0;
                var totalQty1 = 0;
                var Carton = 0;
                // console.log(prod_othUnit + " <> " + prod_othUnit2  + " <> " +  prod_cat + " <> " +  qty + " <> " + c)

                if(prod_cat == "S"){
                    totalQty1 = qty/c
                    totalQty = totalQty1 + " " + prod_othUnit
                    Carton =totalQty1;
                }else if(prod_cat == "P"){
                    totalQty1 = qty*c
                    totalQty = totalQty1 + " " + prod_othUnit2
                    Carton =qty;
                }
                document.getElementById("carton"+x).value = Carton;

                // console.log(totalQty1 + " <> " + prod_cat + " <> " + Carton)
                
                document.getElementById("Conver"+x).value = totalQty 

            }

            function SelectRoom() {
                var variable = document.getElementById("warehouse_name").value;
                var selectRoom = $('#showRoom');

                $.ajax({
                    url: '/warehousemap_Income/Rooms_data',
                    method: 'POST',
                    data: { warehouse_name: variable },
                    success: function (response) {
                        selectRoom.empty();

                        $.each(response, function (index, data) {
                            var roomName = data.room_name;
                            var roomCode = data.room_name;

                            // Create checkbox element instead of option
                            var checkboxElement = $('<input>')
                                .attr('type', 'checkbox')
                                .addClass('form-check-input')
                                .val(roomName)
                                .attr("name", "room_name")
                                .attr("id", "room_data"+index)
                                .attr('roomcode', roomCode);

                            // Create label for the checkbox
                            var labelElement = $('<h5>').text(roomName).prepend(checkboxElement);

                            // Append the label to the container
                            selectRoom.append(labelElement);

                            labelElement.click(function () {
                                checkboxElement.prop('checked', !checkboxElement.prop('checked'));
                            });

                            checkboxElement.click(function (event) {
                                event.stopPropagation();
                            });

                            // BayBin();
                            checkboxElement.click(function () {
                                // BayBin(index);
                            });
                        });
                    }
                });
            }


            function removeSelfRow(event) {
       
                var row = $(event.target).closest('tr');
                
                row.remove();
            }

            $(document).on('click', 'button#remove', function(event) {
                removeSelfRow(event);
            });
            
            
            var x =  $('#LastVal').val();
            $(document).ready(function() {
            
           
            $('#product_code').on('keydown', function(e) {
            if (e.which === 13) {
            e.preventDefault();
            return false;
            }
        });
        // AJAX request when the value in the text box changes
        $('#product_code').on('input', function() {
            var productCode = $(this).val(); // Get the entered product code
            var warehouseName = $('#warehouse_name').val();
            var rooms = $('#room').val();
            // Check if the product code already exists in the table
            var isProductExists = false;
            $('#tblPage_NewOut tr').each(function() {
            var existingProductCode = $(this).find('td:nth-child(2)').text();
            if (existingProductCode === productCode) {
                isProductExists = true;
                return false; // Exit the loop if the product is found
            }
            });
            
            if (!isProductExists) {
            // AJAX request to fetch data based on the entered product code
            var rooms_data = document.getElementsByName("room_name");
                var RoomAssign = [];

                for (let index = 0; index < rooms_data.length; index++) {
                    const element = rooms_data[index];

                    if (element.checked) {
                        RoomAssign.push(element.value);
                    }
                }

                var output = RoomAssign.join(',');
        
            $.ajax({
                url: '/all_sales/barcode_scanner', // Replace with your backend endpoint URL
                method: 'POST',
                data: { product_code: productCode, warehouse_name: warehouseName, rooms_data: rooms, Roomslist:output }, // Pass the product code as a parameter
                success: function(response) {
                // Populate the table with the received data
                $.each(response, function(index, data) {
                    data.forEach((data2) => {
                        // console.log(data2) 

                        if(data2.product_stock > 0){

                        
                    
                            var Instock = data2.product_stock;
                            var TotalQty = 0;
                            var theUnit ;
                            if(data2.computeUsed == "P"){
                                TotalQty = data2.product_stock;
                                theUnit = data2.unit;
                                // if(data.product_cat == "S"){
                                //     TotalQty = data.product_stock / data.maxPerUnit ;
                                // }

                            }else if(data2.computeUsed == "S"){
                                TotalQty = data2.product_stock * data2.maxPerUnit;
                                if(data2.product_cat == "P"){
                                    TotalQty = data2.product_stock * data2.maxPerUnit ;
                                }

                                theUnit = data2.secondary_unit;
                            }
                            var dataLocation = dataCheckingRack(data2.roomNamed, data2.storage+data2.rack+data2.level+data2.isle+data2.type[0]+data2.pallet);

                            var row = $('<tr id="trtable'+x+'">');


                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" style="width: 150px;" name="prod_code" value="' + data2.product_code + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 400px;" name="product_name" value="' + data2.name + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="primary_code" value="' + data2.primary_code + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="batch_code" value="'+ data2.batch_code +'" readonly>'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="production_date" id="production_date'+x+'" value="'+data2.production_date+'" readonly>'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="expiry_date" value="' + data2.expiry_date + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 80px;" name="stock" value="' + TotalQty + '" readonly>'));
                            row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" name="requested_qty" id="requested_qty"  value="" required>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 80px;" name="quantity" id="quantity'+x+'" onkeyup="ConversionKit('+x+','+data2.maxPerUnit+')" value="">'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 130px;" name="unitodmeasure" value="' + theUnit + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="test" id="Conver'+x+'" value="" readonly>'));
                                
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="RoomAssigned" id="RoomAssigned'+x+'" value="'+data2.roomNamed+'" readonly>'));
                            // var dataLocation = data2.storage+data2.rack+data2.level+data2.isle+data2.type[0]+data2.pallet;
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 100px;" name="level" value="' + dataLocation+ '" readonly>'));
                            
                            // row.append($('<td>').html('<input type="text" class="form-control" style="width: 80px;" name="isle" value="' + data2.isle + '" readonly>'));
                            // row.append($('<td>').html('<input type="text" class="form-control" style="width: 130px;" name="type" value="' + data2.type + '" readonly>'));
                            // row.append($('<td>').html('<input type="text" class="form-control" style="width: 80px;" name="pallet" value="' + data2.pallet + '" readonly>'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="delivery_date" value="">'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 150px;" name="delivery_code" value="">'));
                            row.append($('<td>').html('<button type="button" class="btn btn-square btn-outline-light" id="remove">Remove</button>'));




                            

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'primary_unit'+x,
                                name: 'primary_unit',
                                value: data2.unit
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'secondary_unit'+x,
                                name: 'secondary_unit',
                                value: data2.secondary_unit
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'secondary_code',
                                name: 'secondary_code',
                                value: data2.secondary_code
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'storage',
                                name: 'storage',
                                value: data2.storage
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'rak',
                                name: 'rak',
                                value: data2.rack
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'max_per_unit',
                                name: 'max_per_unit',
                                value: data2.maxPerUnit
                            }).appendTo(row);

                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_unit'+x,
                                name: 'prod_unit',
                                value: data2.unit
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_cat'+x,
                                name: 'prod_cat',
                                value: data2.computeUsed
                            }).appendTo(row);


                            $('<input>').attr({
                                type: 'hidden',
                                id: 'carton'+x,
                                name: 'carton',
                                value: ""
                            }).appendTo(row);

                            $('#tblPage_NewOut').append(row);
                            checkExpiration(data2.expiry_date, x);
                            x++;

                            }
                    })
                    
                    
                    
                });
                
                // Clear the product code input field
                $("#product_code").val('');
                },
                error: function(xhr, status, error) {
                    $("#product_code").val('');
                    Swal.fire(
                    '',
                    'We were unable to locate the barcode you entered. Please try scanning another barcode.',
                    'warning'
                    )
                }
            });
            }
        });
        });

                
        </script>

            <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>