<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        th{
            text-align: center;
        }
    </style>

</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <% var category_data = ""; %>
            <% if (role.account_category == "rsm") { %>
                <%- include('./partials/header',{titel: "Regional Sales Manager - Dashboard"}); -%>
            <% } else if (role.account_category == "fss") { %>
                <%- include('./partials/header',{titel: "FSS - Dashboard"}); -%>
            <% } else if (role.account_category == "sad") { %>
                <%- include('./partials/header',{titel: "Sales Admin - Dashboard"}); -%>
            <% } else { %>
                <%- include('./partials/header',{titel: "Dashboard"}); -%>
            <% } %>
            <% console.log(role) %>

            
            

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar_sales_admin'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->


                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <h2 ><center>SOLD FOR THE YEAR</center></h2>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table primary-table-bordered">
                                                    <thead class="thead-primary">
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col" colspan="2">QUANTITY</th>
                                                            <th scope="col" colspan="2">SALES VALUE</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col">For the Month</th>
                                                            <th scope="col">As of</th>
                                                            <th scope="col">For the Month</th>
                                                            <th scope="col">As of</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody_salesyear">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

      <!-- start Toastr -->
      <%- include('./partials/toastr'); -%>
      <!-- End Toastr -->

    <!--**********************************
        Scripts
    ***********************************-->
    <%- include('./partials/script'); -%>.

    <!-- <script src="../public/js/moment.js"></script> -->

    <script>

function formatDate() {
            var d = new Date(),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
        function getTheData(today, first_dateyear, first_datemonth){
            
            $.ajax({
                type: "POST",
                url: "./sales_data__admin_dashboard",
                data: {date_today: today, first_year: first_dateyear, first_month: first_datemonth },
                success: function (response) {
                    console.log(response.product)
                    var theTbody = document.getElementById("tbody_salesyear");
                    let dataTable = '';

                    var totalqtymonth = 0;
                    var totalqtyasof = 0;
                    var totalsvmonth = 0;
                    var totalsvasof = 0;
                    $.each(response.product, function (index_data, value_data) {
                        // console.log(response.month_data[value_data._id.brand][value_data._id.category])
                        var naming = '';
                        if(value_data._id.category == "Standard"){
                            naming = value_data._id.brand + " -STD";
                        }else if(value_data._id.category == "Household"){
                            naming = value_data._id.brand + " -HH";
                        }

                        if(response.month_data[value_data._id.brand] == undefined){
                            response.month_data[value_data._id.brand] = {}
                        }

                        if(response.month_data[value_data._id.brand][value_data._id.category] == undefined){
                            response.month_data[value_data._id.brand][value_data._id.category] = {}
                        }


                        if(response.month_data[value_data._id.brand][value_data._id.category]["qty"] == undefined){
                            response.month_data[value_data._id.brand][value_data._id.category]["qty"] = 0
                        }

                        if(response.month_data[value_data._id.brand][value_data._id.category]["net"] == undefined){
                            response.month_data[value_data._id.brand][value_data._id.category]["net"] = 0
                        }



                        if(response.year_data[value_data._id.brand] == undefined){
                            response.year_data[value_data._id.brand] = {}
                        }

                        if(response.year_data[value_data._id.brand][value_data._id.category] == undefined){
                            response.year_data[value_data._id.brand][value_data._id.category] = {}
                        }


                        if(response.year_data[value_data._id.brand][value_data._id.category]["qty"] == undefined){
                            response.year_data[value_data._id.brand][value_data._id.category]["qty"] = 0
                        }

                        if(response.year_data[value_data._id.brand][value_data._id.category]["net"] == undefined){
                            response.year_data[value_data._id.brand][value_data._id.category]["net"] = 0
                        }


                        console.log(response.month_data[value_data._id.brand][value_data._id.category])
                        const nFormat = new Intl.NumberFormat(undefined, {minimumFractionDigits: 2});
                        dataTable += "<tr>";
                            dataTable += "<td>";
                            dataTable += naming
                            dataTable += "</td>";

                            dataTable += "<td>";
                            dataTable += nFormat.format(response.month_data[value_data._id.brand][value_data._id.category]["qty"]);
                            dataTable += "</td>";

                            dataTable += "<td>";
                            dataTable += nFormat.format(response.year_data[value_data._id.brand][value_data._id.category]["qty"]);
                            dataTable += "</td>";

                            dataTable += "<td>";
                            dataTable += nFormat.format(response.month_data[value_data._id.brand][value_data._id.category]["net"]);
                            dataTable += "</td>";

                            dataTable += "<td>";
                            dataTable += nFormat.format(response.year_data[value_data._id.brand][value_data._id.category]["net"]);
                            dataTable += "</td>";
                        dataTable += "</tr>";
                        totalqtymonth += response.month_data[value_data._id.brand][value_data._id.category]["qty"];
                        totalqtyasof += response.year_data[value_data._id.brand][value_data._id.category]["qty"];

                        totalsvmonth += response.month_data[value_data._id.brand][value_data._id.category]["net"];
                        totalsvasof += response.year_data[value_data._id.brand][value_data._id.category]["net"];

                    });
                    const nFormat = new Intl.NumberFormat(undefined, {minimumFractionDigits: 2});
                    dataTable += "<tr>";
                        dataTable += "<td class='text-center'>";
                        dataTable += "<b>TOTAL</b>"
                        dataTable += "</td>";

                        dataTable += "<td class='text-center'>";
                        dataTable += "<b>"+nFormat.format(totalqtymonth)+"</b>"
                        dataTable += "</td>";

                        dataTable += "<td class='text-center'>";
                        dataTable += "<b>"+nFormat.format(totalqtyasof)+"</b>"
                        dataTable += "</td>";

                        dataTable += "<td class='text-center'>";
                        dataTable += "<b>"+nFormat.format(totalsvmonth)+"</b>"
                        dataTable += "</td>";

                        dataTable += "<td class='text-center'>";
                        dataTable += "<b>"+nFormat.format(totalsvasof)+"</b>"
                        dataTable += "</td>";
                    dataTable += "</tr>";
                    theTbody.innerHTML = dataTable;
                }
            });
            

        }
        function dataTableSalesYear(){
            // var test = "2024-09-01"
            const d = new Date();
            const the_date_first_year =  d.getFullYear()+"-01-01";
            const the_date_today = formatDate();
            var month = '' + (d.getMonth() + 1)
            if (month.length < 2){
                month = '0' + month;
            }
               
            const the_date_first_month=  d.getFullYear()+"-"+month+"-01";

            var dataHtml = getTheData(the_date_today, the_date_first_year, the_date_first_month)
            // console.log("2", dataHtml)
            
            // console.log(the_date_first_year  + " <> " + the_date_today + " <> " + the_date_first_month)
        }
        
        
        async function fetchDataAndUpdateChart(fetchFunction) {
            const newData = await fetchFunction(); // Fetch data using the provided fetchFunction
            await fetchFunction(); 
        }


        function startDataRefresh() {
            const pollingInterval = 5000;
            // Call fetchDataAndUpdateChart for each data source and its corresponding chart
            // setInterval(() => fetchDataAndUpdateChart(invoice_pending), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(invoice_paid), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(count_paid), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(count_unpaid), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(avg_data), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(count_inv), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(fetchDataFG), pollingInterval);
            // setInterval(() => fetchDataAndUpdateChart(fetchDataStocks), pollingInterval);
        }
        
        
        $(document).ready(function() {
            
            startDataRefresh();

            dataTableSalesYear()
        })
    </script>
      

        <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>