<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body>
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <!--**********************************
    Main wrapper start
***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
        Nav header end
    ***********************************-->

            <!--**********************************
        Header start
    ***********************************-->
            <%- include('./partials/header',{titel: "My Inventory"}); -%>

                <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

                <!--**********************************
        Sidebar start
    ***********************************-->
                <%- include('./partials/sidebar_sa'); -%>
                    <div class="content-body">
                        <div class="container-fluid">

                            <div class="row">
                                <!-- <div class="card-header">
                                    <h4 class="card-title col-6"></h4>
                                    <div class="card-title col-6 text-end">
                                        <a href="/my_inventory/add_transaction" class="btn btn-rounded btn-info text-white"> 
                                            Add 
                                            <span class="btn-icon-start text-info">
                                                <i class="fa fa-plus color-info"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title col-6">Incoming Inventory</h4>
                                        </div>

                                        <div class="table-responsive">
                                            <table id="example1" class="table table-striped  table-responsive-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class='text-center'><h5>Document Number</h5></th>
                                                        <th scope="col" class='text-center'><h5>Date</h5></th>
                                                        <!-- <th scope="col"><h5>Primary Code</h5></th>
                                                        <th scope="col"><h5>Secondary Code</h5></th>
                                                        <th scope="col"><h5>Production Date</h5></th>
                                                        <th scope="col"><h5>Expiry Date</h5></th> -->
                                                        <!-- <th scope="col" class='text-center'><h5>Qty</h5></th> -->
                                                        <!-- <th scope="col"><h5>Action</h5></th> -->
                                                   
                                                    </tr>
                                                </thead>
                                                <tbody id="dataInc">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
    
    
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title col-6">My Inventory</h4>
                                        </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped table-responsive-sm ">
                                                    <thead>
                                                        <tr>
                                                            <th class='text-center'><h5>Item Code</h5></th>
                                                            <th class='text-center'><h5>Item Description</h5></th>
                                                            <!-- <th><h5>Primary Code</h5></th>
                                                            <th><h5>Secondary Code</h5></th>
                                                            <th><h5>Production Date</h5></th>
                                                            <th><h5>Expiry Date</h5></th> -->
                                                            <th class='text-center'><h5>Qty</h5></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dataBody">
                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            


                        </div>
                    </div>
                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
        <%- include('./partials/toastr'); -%>
    <!-- End Toastr -->

    <!--**********************************
        Scripts
    ***********************************-->

    <%- include('./partials/script'); -%>

        <!--**********************************
        Scripts end
    ***********************************-->


    <script>
        function dataShowInc(){
           

            $.ajax({
                url: '/my_inventory/incoming',
                method: 'POST',
                data: { isbool: "false" },
                success: function (response) {
                    var dataBody = document.getElementById("dataInc");
                    let dataTableData = "";
                    for (let x = 0; x < response.length; x++) {
                        const data = response[x]._id;
                        
                        // if(data.product_stock > 0){
                            dataTableData += "<tr>";
                            dataTableData += "<td class='text-center'>" + data.outgoing_invoice+ "</td>";
                            dataTableData += "<td class='text-center'>" + data.date_incoming+ "</td>";
                            // dataTableData += "<td>" + data.primary_code+ "</td>";
                            // dataTableData += "<td>" + data.secondary_code+ "</td>";
                            // dataTableData += "<td>" + data.production_date+ "</td>";
                            // dataTableData += "<td>" + data.expiry_date+ "</td>";
                            // dataTableData += "<td class='text-center'>" + data.product_stock+ "</td>";
                            // dataTableData += "<td><button type='button' class='btn btn-primary btn-sm' onclick=\"isConfirmTrue('" + data._id + "')\">Confirm</button></td>";
                            dataTableData += "</tr>";
                        // }
                        

                        // console.log(data)
                        
                    }
                    dataBody.innerHTML = dataTableData
                }
            });

        }


        function dataShowMy(){
        

        $.ajax({
            url: '/my_inventory/table',
            method: 'POST',
            data: { isbool: "true" },
            success: function (response) {
                var dataBody = document.getElementById("dataBody");
                let dataTableData = "";
                
                for (let x = 0; x < response.length; x++) {
                
                    const data = response[x];
                    //    console.log(data)
                    if(data.sumqty > 0){
                        dataTableData += "<tr>";
                        dataTableData += "<td class='text-center'>" + data._id.product_code+ "</td>";
                        dataTableData += "<td class='text-center'>" + data._id.product_name+ "</td>";
                        // dataTableData += "<td>" + data.primary_code+ "</td>";
                        // dataTableData += "<td>" + data.secondary_code+ "</td>";
                        // dataTableData += "<td>" + data.production_date+ "</td>";
                        // dataTableData += "<td>" + data.expiry_date+ "</td>";
                        dataTableData += "<td class='text-center'>" + data.sumqty + "</td>";
                        //    dataTableData += "<td><button type='button' class='btn btn-primary btn-sm' onclick=\"isConfirmTrue('" + data._id + "')\">Confirm</button></td>";
                        dataTableData += "</tr>";
                    }


                    //    console.log(data)
                    
                }
                dataBody.innerHTML = dataTableData
            }
        });
    }


        function isConfirmTrue(_idData){
            $.ajax({
                url: '/my_inventory/confirmation',
                method: 'POST',
                data: { product_id: _idData },
                success: function (response) {
                    console.log(response.isConfirm)
                    if(response.isConfirm == true){
                        console.log("hello")
                        dataShowInc();
                        dataShowMy();
                    }
                }
            });
        }

        $(document).ready(function() {
            dataShowInc();
            dataShowMy();
        })
    </script>
</body>

</html>