<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>
      
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: language.products}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"><%= language.print_barcode %> </h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info" onclick="history.back()"><i class="la la-undo"></i><%= language.go_back %></button>
                                        </div>
                                        <div class="card-body" >
                                            <div class="form-validation">
                                                <div class="row">

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="product_code"><%= language.product_code %> </label>
                                                            <input type="text" name="product_code" class="form-control" value="<%= alldata.product_code %>" id="product_code" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label class="paper_size"><%= language.paper_size %> <span class="text-red">*</span></label>
                                                            <select class="form-control" name="paper_size" id="paper_size" required>
                                                                <option value selected disabled>Select One</option>
                                                                <option value="sheet40">40 per sheet (a4) (1.799 * 1.003)</option>
                                                                <option value="sheet30">30 per sheet (2.625 * 1)</option>
                                                                <option value="sheet24">24 per sheet (a4) (2.48 * 1.334)</option>
                                                                <option value="sheet20">20 per sheet (4 * 1)</option>
                                                                <option value="sheet18">18 per sheet (a4) (2.5 * 1.835)</option>
                                                                <option value="sheet14">14 per sheet (4 * 1.33)</option>
                                                                <option value="sheet12">12 per sheet (a4) (2.5 * 2.834)</option>
                                                                <option value="sheet10">10 per sheet (4 * 2)</option>
                                                            </select>
                                                            <p id="error" class="text-red"></p>
                                                        </div>
                                                    </div>


                                                    <div class="row mt-3 mb-2">
                                                        <div class="table-responsive table-custom w-95 m-auto">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th><%= language.code %></th> 
                                                                        <th><%= language.products %></th> 
                                                                        <th><%= language.quantity %></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td id="pro_code"><%= alldata.product_code %></td>
                                                                        <td id="pro_name"><%= alldata.name %></td>
                                                                        <td>
                                                                            <input type="number" id="printQty" value="1" required="required" min="1" class="form-control">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    

                                                    <div>
                                                        <button class="btn btn-primary" id="gen_barcode">
                                                            <i class="fas fa-edit"></i>
                                                            <%= language.generate_barcode %>
                                                        </button>
                                                    </div>

                                                    <div>
                                                        <div class="card-header">
                                                            <h3 class="card-title">
                                                                <%= language.print_barcode %>
                                                            </h3>
                                                            <button class="btn btn-info float-right" id="barcode_print">
                                                                <i class="fas fa-print"></i> <%= language.print %>
                                                            </button>
                                                        </div> 

                                                        <div id="test">
                                                            <div id="add_barcode" class="row g-1"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.3/JsBarcode.all.min.js"></script>
        <%- include('./partials/script'); -%>

        

    <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>