<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body>
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <!--**********************************
    Main wrapper start
***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
        Nav header end
    ***********************************-->

            <!--**********************************
        Header start
    ***********************************-->
            <%- include('./partials/header',{titel: language.purchase_return}); -%>

                <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

                <!--**********************************
        Sidebar start
    ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
        Sidebar end
    ***********************************-->

                    <div class="content-body">
                        <div class="container-fluid">
                            <!-- row -->

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title col-6"><%= language.all_purchase_return %> </h4>
                                    </div>
                                    <div class="card-body">
                                        
                                        <div class="d-none">
                                            <input type="hidden" value="<%= master_shop[0].currency %>" id="hidden_currency">
                                            <input type="hidden" value="<%= master_shop[0].currency_placement %>" id="hidden_currency_placement">
                                        </div>

                                        <div class="table-responsive">
                                            <table id="example"
                                                class="table table-responsive-sm text-center">
                                                <thead>
                                                    <tr>
                                                        <th><%= language.invoice %> </th>
                                                        <th><%= language.date %> </th>
                                                        <th><%= language.supplier %> </th>
                                                        <th><%= language.warehouse %> </th>
                                                        <th> Qty</th>
                                                        <th><%= language.edit %> </th>
                                                        <!-- <th><%= language.action %> </th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% user.forEach((user)=> { %>

                                                        <% if(master_shop[0].currency_placement == 1) { %>

                                                            <tr>
                                                                <td class="text-nowrap">
                                                                    <%= user.invoice %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.date %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.suppliers %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.warehouse_name %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.return_sum_qty.toLocaleString() %> 
                                                                </td>

                            
    
                                                                <td class="text-nowrap">
                                                                    <a href="/purchases_return/view/<%= user._id %>">
                                                                        <button type="button"
                                                                            class="btn btn-success m-1"><%= language.edit %> </button>
                                                                    </a>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <!-- <div class="btn-group" role="group">
                                                                        <button type="button"
                                                                            class="btn btn-primary dropdown-toggle m-1"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false"><%= language.more %> </button>
                                                                        <div class="dropdown-menu"> -->
                                                                            <% if (user.due_amount == 0) { %>
                                                                                
                                                                            <% } else { %>

                                                                                <!-- <a class="dropdown-item"
                                                                                    href="javascript:void()" id="purchases_return_id"
                                                                                    data-toggle="modal"
                                                                                    data-target="#PaymentModal"
                                                                                    data-invoice="<%= user.invoice %>"
                                                                                    data-suppliers="<%= user.suppliers %>"

                                                                                    data-id="<%= user._id %>"><i
                                                                                        class="la la-money-bill-wave"></i>
                                                                                        <%= language.receive_payment %> 
                                                                                </a> -->
                                                                            <% } %>
    
                                                                            <!-- <a class="dropdown-item" href="/purchases_return/invoice/<%= user._id %>" href="javascript:void()">
                                                                                <i class="la la-download"></i> <%= language.save_print %> 
                                                                            </a> -->

                                                                        <!-- </div>
                                                                    </div> -->
                                                                </td>
                                                            </tr>

                                                        <% } else { %>

                                                            <tr>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.invoice %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.date %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.suppliers %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <%= user.warehouse_name %>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                     <%= user.return_sum_qty %>
                                                                </td>
    
    
                                                                <td class="text-nowrap">
                                                                    <a href="/purchases_return/view/<%= user._id %>">
                                                                        <button type="button"
                                                                            class="btn btn-success m-1"><%= language.edit %> </button>
                                                                    </a>
                                                                </td>
    
                                                                <td class="text-nowrap">
                                                                    <!-- <div class="btn-group" role="group">
                                                                        <button type="button"
                                                                            class="btn btn-primary dropdown-toggle m-1"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false"><%= language.more %> </button>
                                                                        <div class="dropdown-menu"> -->
                                                                            <% if (user.due_amount == 0) { %>
                                                                                
                                                                            <% } else { %>
       
                                                                                <!-- <a class="dropdown-item"
                                                                                    href="javascript:void()" id="purchases_return_id"
                                                                                    data-toggle="modal"
                                                                                    data-target="#PaymentModal"
                                                                                    data-invoice="<%= user.invoice %>"
                                                                                    data-suppliers="<%= user.suppliers %>"
                                                                                    data-receivable="<%= user.receivable %>"
                                                                                    data-received_amount="<%= user.received %>"
                                                                                    data-id="<%= user._id %>"><i
                                                                                        class="la la-money-bill-wave"></i>
                                                                                        <%= language.receive_payment %> 
                                                                                </a> -->
                                                                            <% } %>
                                                                            <!-- <a class="dropdown-item" href="/purchases_return/invoice/<%= user._id %>" href="javascript:void()">
                                                                                <i class="la la-download"></i> <%= language.save_print %> 
                                                                            </a> -->

                                                                        <!-- </div>
                                                                    </div> -->
                                                                </td>
                                                            </tr>

                                                        <% } %>


                                                    <% }) %>
                                                </tbody>


                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Payment Modal -->

                    <form id="payment_form" action="/purchases_return/receive_payment/<%= user._id %>" method="post">
                        <div class="modal fade " id="PaymentModal" tabindex="-1" role="dialog"
                            aria-labelledby="PaymentModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary ">
                                        <h5 class="modal-title text-white" id="PaymentModalLabel">
                                            <%= language.payment_details %> 
                                        </h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row-11">
                                            <label for="recipient-invoice" class="col-form-label"><%= language.invoice %>
                                            </label>
                                            <input type="text" class="form-control" id="invoice" name="invoice" readonly>
                                        </div>

                                        <div class="row-11">
                                            <label for="recipient-supplier" class="col-form-label"><%= language.supplier %>
                                            </label>
                                            <input type="text" class="form-control" id="suppliers" name="suppliers" readonly>
                                        </div>

                                        <button type="submit" class="btn btn-primary mt-4 w-100"><%= language.submit %> </button>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"><%= language.close %> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Payment modal end -->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->
 
        <%- include('./partials/script'); -%>

            <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>