<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 3; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 50%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
          display: flex;
          justify-content: center;
          display: grid;
            place-items: center;
        }

        @media
        only screen 
        and (max-width: 760px), (min-device-width: 768px) 
        and (max-device-width: 1200px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr {
                margin: 0 0 0 0;
                font-weight: bold;

            }

        /* tr {
            background: #333a54;
        } */
    
            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

            td:before {
                /* Now like a table header */
                position: bottom;
                /* Top/left values mimic padding */
                top: 0;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: wrap;
                font-weight: normal;
            }

            /* td:nth-of-type(1):before { content: "Number : "; } */
            td:nth-of-type(1):before { content: "Warehouse : "; }
            td:nth-of-type(2):before { content: "Rack : "; }
            td:nth-of-type(3):before { content: "Location : "; }
            td:nth-of-type(4):before { content: "Production Code : "; }
            td:nth-of-type(5):before { content: "Item Description : "; }
            td:nth-of-type(6):before { content: "Qty : "; }
            td:nth-of-type(7):before { content: "Action : "; }
            
        }

        
    </style>

</head>

<body onload="" >
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: "Warehouse Bin Validation"}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <!-- <div class="card-header">
                                            <h4 class="card-title"> Bin Setups</h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div> -->
                                        <!-- <div class="card-body" style="display: block;" >
                                            <div class="form-validation">

                                                <form class="needs-validation" action="/master_shop/view_data/warehouse_valid" method="post" id="form">
                                                  
                                                        <div class="form-group d-flex align-items-center">
                                                            <select class="form-control" id="type_of_process" name="type_of_process" style="flex: 1;">
                                                                <option value="inc">Incoming</option>
                                                                <option value="out">Outgoing</option>
                                                            </select>
                                                            <a class="btn btn-primary ml-2" type="submit" id="scan_button"  >Scan now</a>
                                                            <input type="hidden" name="product_code" style="position: absolute; left: -9999px;" class="form-control" id="product_code" value="">
                                                        </div>
                                                 
                                                    
                                                </form>
                                            </div>
                                        </div> -->


                                        <div class="card-header">
                                            <h4 class="card-title"> History </h4>
                                            <div class="card-title col-6 text-end">

                                                <a href="/master_shop/view_data/warehouse_valid/add" class="btn btn-rounded btn-info text-white"> Add 
                                                    <span class="btn-icon-start text-info">
                                                        <i class="fa fa-plus color-info"></i>
                                                    </span>
                                                </a>
    
                                            </div>
                                        </div>

                                        <div class="card-body" style="display: block;" >
                                            <div >
                                                <table class="table table-responsive-sm text-center dataTable no-footer" id="purchases_tbl_new">
                                                    <thead class="thead-primary" style="text-align: center;">
                                                        <tr>
                                                            <th scope="col">Warehouse </th>
                                                            <th scope="col">Level</th>
                                                            <th scope="col">Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblPage_new">
                                                        <% console.log(data) %>

                                                        <% data.forEach(element => { %>
                                                            <tr>
                                                                <td class="text-nowrap"><b><%= element.warehouse_name %></b></td>
                                                                <td class="text-nowrap"><b><%= element.room %></b></td>
                                                                <td class="text-nowrap"><a href="/master_shop/view_data/edit/<%= element._id %>" id="barcode" data-id="66fcebd41e2ce3a28f8b0a09" class="btn btn-success btn-sm">
                                                                    <i class="feather icon-printer"> </i>View
                                                                </a></td>
                                                            </tr>

                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->

        <%- include('./partials/script'); -%>

            <!--**********************************
        Scripts end
    ***********************************-->


</body>

</html>