<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body>
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <!--**********************************
    Main wrapper start
***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
        Nav header end
    ***********************************-->

            <!--**********************************
        Header start
    ***********************************-->
            <%- include('./partials/header',{titel: language.staff}); -%>

                <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

                <!--**********************************
        Sidebar start
    ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
        Sidebar end
    ***********************************-->

                    <div class="content-body">
                        <div class="container-fluid">
                            <!-- row -->

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title col-6"><%= language.all_staff %> </h4>
                                        <div class="card-title col-6 text-end">
                                            <button type="button" class="btn btn-rounded btn-info"
                                                data-toggle="modal" data-target="#exampleModal">
                                                <%= language.add_staff %> 
                                                <span class="btn-icon-start text-info"><i
                                                        class="fa fa-plus color-info"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="example" class="table table-responsive-sm">
                                                <thead>
                                                    <tr>
                                                        <th class="staff_thead_no"><%= language.no %> </th>
                                                        <th class="staff_thead_name"><%= language.name %> </th>
                                                        <th class="staff_thead_email"><%= language.email %> </th>
                                                        <th class="staff_thead_mobile"><%= language.mobile %> </th>
                                                        <th class="staff_thead_warehouse"><%= language.warehouse %> </th>
                                                        <!-- <th class="staff_thead_position">Position</th> -->
                                                        <th class="staff_thead_status"><%= language.status %> </th>
                                                        <th class="staff_thead_edit"><%= language.edit %> </th>
                                                        <th class="staff_thead_login"><%= language.login %></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var i=1 %>
                                                        <% user.forEach((user)=> { %>

                                                            <tr>
                                                                <td class="staff_tbody_no">
                                                                    <%= i %>
                                                                </td>
                                                                <td class="staff_tbody_name">
                                                                    <%= user.name %>
                                                                </td>
                                                                <td class="staff_tbody_email">
                                                                    <%= user.email %>
                                                                </td>
                                                                <td class="staff_tbody_mobile">
                                                                    <%= user.mobile %>
                                                                </td>
                                                                
                                                                <td class="staff_tbody_mobile">
                                                                    <%= user.warehouse %>
                                                                </td>
                                                                
                                                                <!-- <td class="staff_tbody_mobile">
                                                                    <%= user.position %>
                                                                </td> -->
                                                                <td class="staff_tbody_status">
                                                                    <% if(user.status == "Enabled"){ %>
                                                                        <span class="badge badge-lg badge-outline-info"><%= user.status %></span>
                                                                    <% }else{ %>
                                                                    <span class="badge badge-lg badge-outline-danger"><%= user.status %></span>
                                                                    <% } %>
                                                                </td>
                                                                <td class="staff_tbody_edit">
                                                                    <button type="button" class="badge badge-lg badge-success">
                                                                        
                                                                        <a data-toggle="modal" id="staff_id_new"
                                                                            data-target="#EditModal"
                                                                            data-name="<%= user.name %>"
                                                                            data-username="<%= user.username %>"
                                                                            data-email="<%= user.email %>"
                                                                            data-mobile="<%= user.mobile %>"
                                                                            data-status="<%= user.status %>"
                                                                            data-position = "<%= user.position %>"
                                                                            data-warehouse = "<%= user.warehouse %>"
                                                                            data-warehouse_cat = "<%= user.warehouse_category %>"
                                                                            data-account_cat = "<%= user.account_category %>"
                                                                            data-type_of_acc_cat = "<%= user.type_of_acc_cat %>"
                                                                            data-sales_man_code = "<%= user.sales_man_code %>"
                                                                            data-district = "<%= user.district %>"
                                                                            data-id="<%= user._id %>"><i class="la la-pencil"></i>
                                                                            <%= language.edit %></a>

                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="badge badge-lg badge-primary">
                                                                        <a href="/staff/<%= user._id %>" class="text-white"> <%= language.login %> </a>    
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <% i++ %>
                                                        <% }) %>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->

                    <form action="/staff/view" method="post">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary ">
                                        <h5 class="modal-title text-white" id="exampleModalLabel">
                                            <%= language.add_new_staff %> 
                                        </h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label"><%= language.name %> <span class="text-red">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="recipient-name"
                                                    placeholder="Staff Name" name="name" required>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label"><%= language.mobile %><span class="text-red">*</span>
                                                    </label>
                                                    <input type="number" class="form-control" id="recipient-name"
                                                        placeholder="Mobile" name="mobile" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label"><%= language.email %> <span class="text-red">*</span>
                                                </label>
                                                <input type="email" class="form-control" id="recipient-name"
                                                    placeholder="E-Mail" name="email" required>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label"><%= language.password %> <span class="text-red">*</span>
                                                </label>
                                                <input type="password" class="form-control" id="recipient-name"
                                                    placeholder="Password" name="password" required>
                                            </div>
                                        </div>



                                        <div class="row">                          
                                            <div class="mb-3 col-md-6">
                                                <label for="warrehouse">Account Category<span class="text-red">*</span> </label>
                                                <select class="form-control" name="account_cat" id="account_cat" required>
                                                    <option value="ad">Super Admin</option>
                                                    <option value="wm">Warehouse Account</option>
                                                    <option value="sa">Sales Account</option>
                                                    <option value="acc">Accounting Account</option>
                                                    <option value="rsm">RSM</option>
                                                    <option value="fss">FSS</option>
                                                    <option value="gm">GM</option>
                                                    <option value="ws">Warehouse Supervisor</option>
                                                </select>
                                            </div>


                                            <div class="mb-3 col-md-6">
                                                <label for="warrehouse">Sales Category<span class="text-red">*</span> </label>
                                                <select class="form-control" name="sales_cat" id="sales_cat" required>
                                                    <option value="">Select</option>
                                                    <option value="all">All</option>
                                                    <option value="1">Ex Truck</option>
                                                    <option value="2">Booking</option>
                                                </select>
                                            </div>
                                            
                                            
                                        </div>  

                                        <div class="row">                          
                                            <div class="mb-3 col-md-12">
                                                <label for="warrehouse">District<span class="text-red">*</span> </label>
                                                <select class="form-control" name="district" id="district" required>
                                                    <option value="">Select</option>
                                                    <option value="clz">Central Luzon</option>
                                                    <option value="gma">GMA</option>
                                                    <option value="nlz">North Luzon</option>
                                                    <option value="slz">South Luzon</option>
                                                    <option value="cvs">Central Visayas</option>
                                                    <option value="wvs">Western Visayas</option>
                                                    <option value="nmo">Northern Mindanao</option>
                                                    <option value="smo">Southern Mindanao</option>
                                                </select>
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="warrehouse">Warehouse <span class="text-red">*</span> </label>
                                            <select class="form-control" name="warehouse" id="warehouse" required>
                                                <option value selected disabled>Select One</option>
                                                <% warehouse.forEach((data)=> { %>
                                                    <option value="<%= data.name %>"><%= data.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        
                                        
                                              <!-- <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label">Position <span class="text-red">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="recipient-name"
                                                    placeholder="Position" name="position" required>
                                            </div> -->


                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label">Salesman Code 
                                                </label>
                                                <input type="text" class="form-control" id="sales_man_code"
                                                    value="<%= user.sales_man_code %>" name="sales_man_code">
                                            </div>
                                    </div>
                                        <button type="submit" class="btn btn-primary w-100"><%= language.submit %></button>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"><%= language.close %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- modal end -->

                    <!-- Edit Modal -->


                    <form id="edit_form" action="/staff/view/<%= user._id %>" method="post">
                        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog"
                            aria-labelledby="EditModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary ">
                                        <h5 class="modal-title text-white" id="EditModalLabel">
                                            <%= language.edit_staff_details %>
                                        </h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label"><%= language.name %> <span class="text-red">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="edit-name"
                                                    value="<%= user.name %>" name="name" required readonly>
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label for="recipient-email" class="col-form-label"><%= language.email %><span class="text-red">*</span>
                                                </label>
                                                <input type="email" class="form-control" id="edit-email"
                                                    value="<%= user.email %>" name="email" required readonly>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="recipient-mobile" class="col-form-label"><%= language.mobile %> <span class="text-red">*</span>
                                            </label>
                                            <input type="number" class="form-control" id="edit-mobile"
                                                value="<%= user.mobile %>" name="mobile" required>

                                            <label class="form-label mt-4"><%= language.status %><span class="text-red">*</span></label>
                                            <select class="form-control" name="status" id="edit-status">

                                                <option value="Enabled" <%=user.status=='Enabled' ? 'selected' : "" %>> Enabled</option>

                                                <option value="Disabled" <%=user.status=='Disabled' ? 'selected' : "" %>> Disabled</option>
                                                
                                            </select>

                                        </div>
                                        
                                        
                                         <!-- <div class="row">                          
                                        
                                        
                                        
                                              <div class="mb-3 col-md-6">
                                                <label for="recipient-name" class="col-form-label">Position <span class="text-red">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="edit-poistion"
                                                     value="<%= user.position %>" name="position" required>
                                            </div>
                                       </div>    -->
                                       <div class="row">                          
                                        <!-- <div class="mb-3 col-md-6">
                                            <label for="warrehouse">Warehouse Category<span class="text-red">*</span> </label>
                                            <select class="form-control" name="warehouse_cat" id="edit-warehouse_cat" required>
                                                <% warehouse_cat.forEach((data)=> { %>
                                                    <option value="<%= data %>"  <%= user.warehouse_category == data ? "selected" : "" %>  ><%= data %></option>
                                                <% }) %>
                                            </select>
                                        </div> -->


                                        <div class="mb-3 col-md-6">
                                            <label for="warrehouse">Account Category<span class="text-red">*</span> </label>
                                            <select class="form-control" name="account_edit_cat" id="account_edit_cat" required>
                                                <option value="wm" <%= user.account_category == "ad" ? "selected" : "" %> >Super Admin</option>
                                                <option value="wm" <%= user.account_category == "wm" ? "selected" : "" %> >Warehouse Account</option>
                                                <option value="sa" <%= user.account_category == "fg" ? "selected" : "" %> >Sales Account</option>
                                                <option value="acc" <%= user.account_category == "acc" ? "selected" : "" %> >Accounting Account</option>
                                                <option value="rsm" <%= user.account_category == "rsm" ? "selected" : "" %> >RSM</option>
                                                <option value="fss" <%= user.account_category == "fss" ? "selected" : "" %>>FSS</option>
                                                <option value="gm" <%= user.account_category == "gm" ? "selected" : "" %>>GM</option>
                                                <option value="ws" <%= user.account_category == "ws" ? "selected" : "" %>>>Warehouse Supervisor</option>
                                            </select>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="warrehouse">Sales Category<span class="text-red">*</span> </label>
                                            <select class="form-control" name="sales_cat2" id="sales_cat2">
                                                <option value="">Select</option>
                                                <option value="all" <%= user.type_of_acc_cat == "all" ? "selected" : "" %>>All</option>
                                                <option value="1" <%= user.type_of_acc_cat == "1" ? "selected" : "" %>>Ex Truck</option>
                                                <option value="2" <%= user.type_of_acc_cat == "2" ? "selected" : "" %>>Booking</option>
                                            </select>
                                        </div>
                                        
                                        
                                       </div>
                                       <div class="row">                          
                                        <div class="mb-3 col-md-12">
                                            <label for="warrehouse">District<span class="text-red">*</span> </label>
                                            <select class="form-control" name="district_edit" id="district_edit" required>
                                                <option value="">Select</option>
                                                <option value="clz" <%= user.district == "clz" ? "selected" : "" %>>Central Luzon</option>
                                                <option value="gma" <%= user.district == "gma" ? "selected" : "" %>>GMA</option>
                                                <option value="nlz" <%= user.district == "nlz" ? "selected" : "" %>>North Luzon</option>
                                                <option value="slz" <%= user.district == "slz" ? "selected" : "" %>>South Luzon</option>
                                                <option value="cvs" <%= user.district == "cvs" ? "selected" : "" %>>Central Visayas</option>
                                                <option value="wvs" <%= user.district == "wvs" ? "selected" : "" %>>Western Visayas</option>
                                                <option value="nmo" <%= user.district == "nmo" ? "selected" : "" %>>Northern Mindanao</option>
                                                <option value="smo" <%= user.district == "smo" ? "selected" : "" %>>Southern Mindanao</option>
                                            </select>
                                        </div>
                                    </div>
                                       <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="warrehouse">Warehouse <span class="text-red">*</span> </label>
                                            <select class="form-control" name="warehouse" id="edit-warehouse" required>
                                                <option value selected disabled>Select One</option>
                                                <% warehouse.forEach((data)=> { %>
                                                    <option value="<%= data.name %>"  <%= user.warehouse == data.name ? "selected" : "" %>  ><%= data.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
    
                                        <div class="mb-3 col-md-6">
                                            <label for="recipient-name" class="col-form-label">Salesman Code 
                                            </label>
                                            <input type="text" class="form-control" id="sales_man_code2"
                                                 value="<%= user.sales_man_code %>" name="sales_man_code2">
                                        </div>
                                       </div>
                                       
                                        <button type="submit" class="btn btn-primary w-100"><%= language.submit %> </button>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"><%= language.close %></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Edit modal end -->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
    <!-- End Toastr -->

    <!--**********************************
        Scripts
    ***********************************-->
  
    <%- include('./partials/script'); -%>
    <script>
        $(document).on("click", "#staff_id_new", function () {
        let dataId = $(this).attr("data-id");
        let dataName = $(this).attr("data-name");
        let dataUsername = $(this).attr("data-username");
        let dataEmail = $(this).attr("data-email");
        let dataMobile = $(this).attr("data-mobile");
        let dataStatus = $(this).attr("data-status");
        let dataPosition = $(this).attr("data-position")
        let datawarehouse = $(this).attr("data-warehouse");
        let account_category = $(this).attr("data-account_cat");

        let data_type_acct = $(this).attr("data-type_of_acc_cat");
        let sales_man_code = $(this).attr("data-sales_man_code");
        let dsitrict_data = $(this).attr("data-district");

        $("#edit_form").attr('action', '/staff/view/' + dataId);
        $('#edit-name').attr('value', dataName);
        $('#edit-username').attr('value', dataUsername);
        $('#edit-email').attr('value', dataEmail);
        $('#edit-mobile').attr('value', dataMobile);
        $('#edit-poistion').attr('value', dataPosition);
        $('#sales_man_code2').attr('value',sales_man_code )
        $("#edit-status").val(dataStatus).attr("selected","selected");
        $("#edit-warehouse").val(datawarehouse).attr("selected", "selected");
        $("#account_edit_cat").val(account_category).attr("selected", "selected");
        $("#sales_cat2").val(data_type_acct).attr("selected", "selected");
        $("#district_edit").val(dsitrict_data).attr("selected", "selected");
    });
    </script>

        <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>