<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>

</head>
<body>
     <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <%- include('./partials/header',{titel: "Transaction Reports for Finished Goods"}); -%>

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <%- include('./partials/sidebar'); -%>

        <!--**********************************
            Sidebar end
        ***********************************-->

        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->

                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-header">
                            <h4 class="card-title col-6">Transaction Reports</h4>
                            
                            <button class="btn btn-info float-right" id="barcode_printAll" onclick="printDivAll()"><i class="fas fa-print"></i> Print All</button>
                        </div>

                        <div class="card-header">
                            <select class="form-control" id="product_category" name="product_category">
                                <!-- <option value="rm">Raw Materials</option> -->
                                <option value="fg">Finished Goods</option>
                            </select>
                            <!-- <select class="form-control" id="transaction_category" name="transaction_category">
                                <option value="IC">Incoming</option>
                                <option value="OG">Outgoing</option>
                                <option value="AJ">Adjustment</option>
                                <option value="TF">Transfer</option>
                            </select> -->
                            <select class="form-control" id="warehouse" name="warehouse">
                                <option value="all">All</option>
                               <% dataProcess.forEach(item => { %>
                                    <option value="<%= item._id %>"><%= item._id %></option>
                                <% }); %>
                            </select>
                            <input class="form-control" type="date" name="transaction_date_from" id="transaction_date_from">
                            <input class="form-control" type="date" name="transaction_date_to" id="transaction_date_to">
                            <input class="form-control" type="text" name="item_code" id="item_code" placeholder="Enter Item Code">
                            <button class="btn btn-rounded btn-info text-white" id="btnFilter">Filter</button>
                        </div>
                        
                        

                        <div class="card-body" id="dataProcess">
                            

                            
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
            Footer start
        ***********************************-->
        <%- include('./partials/footer'); -%>

        <!--**********************************
            Footer end
        ***********************************-->   

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
    <!-- End Toastr -->


    <!--**********************************
        Scripts
    ***********************************-->
   
	<%- include('./partials/script'); -%>

	<!--**********************************
        Scripts end
    ***********************************-->


    <script>

        function formatNumber(number) {
            if (typeof number === 'number') {
                if (Number.isInteger(number)) {
                return number.toString(); // Convert whole number to a string
                } else {
                return number.toFixed(3); // Display number with 3 decimal places
                }
            } else {
                console.log("num", typeof number + " is not a number");
                return number.toString();; // Or handle the non-number case as per your requirements
            }
        }
        // $(document).ready(function() {
        //     $('#btnFilter').click(function() {
        //         var product_category = $('#product_category').val();
        //         var warehouse_category = $('#warehouse').val();
        //         var transaction_category = $('#transaction_category').val();
        //         var transaction_date_from = $('#transaction_date_from').val();
        //         var transaction_date_to = $('#transaction_date_to').val();
        //         var item_code = $('#item_code').val();
                
        //         $.ajax({
        //             url: '/transaction_reports/reports',
        //             type: 'POST',
        //             data: { product_category : product_category, transaction_category: transaction_category, transaction_date_from: transaction_date_from, transaction_date_to: transaction_date_to, warehouse_category: warehouse_category, item_code : item_code},
        //             success: function(response) {
        //                 const forData =  response.purchases_warehouse;
        //                 const sales =  response.data_sales;
        //                 const adjustment =  response.data_adjustment;
        //                 const transfer =  response.data_transfer;

        //                 var dataProcess = document.getElementById("dataProcess");
        //                 let dataString = "";
        //                 forData.forEach((element, i) => {
        //                     dataString += "<div id='data" + i + "'>"; 
        //                         dataString += "<div class='card-header'>"; 
        //                             dataString += "<h3> Warehouse : "+element.warehouse_name+"</h3>"; 
        //                             dataString += "<h3> Date: "+element.date+"</h3>"; 
        //                             dataString += '<button class="btn btn-info float-right" id="barcode_print1" name="barcode_print1" onclick="printDiv('+i+')"><i class="fas fa-print"></i> Print</button>'; 
        //                         dataString += "</div>"; 

        //                         dataString += "<div class='table-responsive'>"; 
        //                             dataString += "<table id='dataTable' class='table table-responsive-lg text-center'>"; 
        //                                 dataString += "<thead>"; 
        //                                 dataString += "<tr>"; 
        //                                 dataString += "<th>Item Code</th>"; 
        //                                 dataString += "<th>Item Name</th>"; 
        //                                 dataString += "<th>Transaction Type</th>"; 
        //                                 dataString += "<th>Document Number</th>"; 
        //                                 dataString += "<th>Document Date</th>"; 
        //                                 dataString += "<th>Warehouse</th>"; 
        //                                 dataString += "<th>Production Date</th>"; 
        //                                 dataString += "<th>Expiry Date</th>"; 
        //                                 dataString += "<th>Quantity</th>"; 
        //                                 dataString += "<th>UOM</th>"; 
        //                                 dataString += "</tr>";
        //                                 dataString += "</thead>"; 
        //                                 for (let index = 0; index < element.product.length; index++) {
        //                                     const data = element.product[index];
        //                                     const warehouse_data = element.warehouse_data[index];
        //                                     dataString += "<tr>"; 
        //                                     dataString += "<td>" + data.product_code + "</td>"; 
        //                                     dataString += "<td>" + data.product_name + "</td>"; 
        //                                     dataString += "<td> Incoming </td>"; 3
        //                                     dataString += "<td>" + data.invoice + "</td>"; 
        //                                     dataString += "<td>" + element.date + "</td>"; 
        //                                     dataString += "<td>" + element.warehouse_name + "</td>"; 
        //                                     dataString += "<td>" + data.production_date + "</td>"; 
        //                                     dataString += "<td>" + data.expiry_date + "</td>"; 
        //                                     dataString += "<td>" + formatNumber(data.quantity)  + "</td>"; 
        //                                     dataString += "<td>" + data.standard_unit + "</td>"; 
        //                                     dataString += "</tr>"; 
        //                                     for (let a = 0; a < sales[data.invoice].length; a++) {
        //                                         const sales_data = sales[data.invoice][a];
        //                                             if(warehouse_data._id == sales_data.id_transaction_from){
        //                                                 dataString += "<tr>"; 
        //                                                 dataString += "<td>" + sales_data.product_code + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.product_name + "</td>"; 
        //                                                 dataString += "<td> Outgoing </td>"; 3
        //                                                 dataString += "<td>" + sales_data.invoice + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.date + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.warehouse_name + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.production_date + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.expiry_date + "</td>"; 
        //                                                 dataString += "<td>-" + formatNumber(sales_data.quantity_available) + "</td>"; 
        //                                                 dataString += "<td>" + sales_data.UOM + "</td>"; 
        //                                                 dataString += "</tr>"; 
        //                                             }
        //                                     }
        //                                     for (let b = 0; b < adjustment[data.invoice].length; b++) {
        //                                         const adjustment_data = adjustment[data.invoice][b];
        //                                         if(warehouse_data._id == adjustment_data.id_transaction_from){
        //                                             console.log(warehouse_data._id + " <> " + adjustment_data.id_transaction_from)
        //                                             dataString += "<tr>"; 
        //                                             dataString += "<td>" + adjustment_data.product_code + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.product_name + "</td>"; 
        //                                             dataString += "<td> Adjustment </td>"; 
        //                                             dataString += "<td>" + adjustment_data.invoice + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.date + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.warehouse_name + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.production_date + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.expiry_date + "</td>"; 
        //                                             dataString += "<td>" + formatNumber(adjustment_data.quantity_available) + "</td>"; 
        //                                             dataString += "<td>" + adjustment_data.UOM + "</td>"; 
        //                                             dataString += "</tr>"; 
        //                                         }
        //                                     }
        //                                     for (let b = 0; b < transfer[data.invoice].length; b++) {
        //                                         const transfer_data = transfer[data.invoice][b];
        //                                         if(warehouse_data._id == transfer_data.id_transaction_from){
        //                                             console.log(warehouse_data._id + " <> " + transfer_data.id_transaction_from)
        //                                             dataString += "<tr>"; 
        //                                             dataString += "<td>" + transfer_data.product_code + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.product_name + "</td>"; 
        //                                             dataString += "<td> Transfer </td>"; 
        //                                             dataString += "<td>" + transfer_data.invoice + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.date + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.warehouse_name + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.production_date + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.expiry_date + "</td>"; 
        //                                             dataString += "<td>" + formatNumber(transfer_data.quantity_available) + "</td>"; 
        //                                             dataString += "<td>" + transfer_data.UOM + "</td>"; 
        //                                             dataString += "</tr>"; 
        //                                         }
        //                                     }
        //                                             dataString += "<tr style='background-color: lightcoral; color: black;'>"; 
        //                                             dataString += "<td>" + warehouse_data.product_code + "</td>"; 
        //                                             dataString += "<td>" + warehouse_data.product_name + "</td>"; 
        //                                             dataString += "<td> Warehouse Stock </td>"; 
        //                                             dataString += "<td>" + warehouse_data.invoice + "</td>"; 
        //                                             dataString += "<td>" + element.date + "</td>"; 
        //                                             dataString += "<td>" + warehouse_data.warehouse_name + "</td>"; 
        //                                             dataString += "<td>" + warehouse_data.production_date + "</td>"; 
        //                                             dataString += "<td>" + warehouse_data.expiry_date + "</td>"; 
        //                                             dataString += "<td>" + formatNumber(warehouse_data.quantity_available) + "</td>"; 
        //                                             dataString += "<td>" + warehouse_data.UOM + "</td>"; 
        //                                             dataString += "</tr>"; 
        //                                 }
        //                             dataString += "</table>"; 
        //                         dataString += "</div>"; 
        //                     dataString += "</div>"; 
        //                 })
        //                 dataProcess.innerHTML = dataString;
        //             }
        //         })
        //     })
        // });

        $(document).ready(function() {
            
            $('#btnFilter').click(function() {
                var product_category = $('#product_category').val();
                var warehouse_category = $('#warehouse').val();
                var transaction_category = $('#transaction_category').val();
                var transaction_date_from = $('#transaction_date_from').val();
                var transaction_date_to = $('#transaction_date_to').val();
                var item_code = $('#item_code').val();
                // alert("test")
                // console.log(product_category + " <> " + transaction_category + " <> " +  transaction_date_from +" <> "+ transaction_date_to)

                $.ajax({
                    url: '/transaction_reports/reports',
                    type: 'POST',
                    data: { product_category : product_category, transaction_category: transaction_category, transaction_date_from: transaction_date_from, transaction_date_to: transaction_date_to, warehouse_category: warehouse_category, item_code : item_code},
                    success: function(response) {
                        // console.log(response.data)
                        const forData =  response.purchases_warehouse;
                        const sales =  response.data_sales;
                        const adjustment =  response.data_adjustment;
                        const transfer =  response.data_transfer;

                        var dataProcess = document.getElementById("dataProcess");
                        let dataString = "";
                            dataString += "<div class='table-responsive'>"; 
                            dataString += "<table id='dataTable' class='table table-responsive-lg text-center'>"; 
                            dataString += "<thead>"; 
                            dataString += "<tr>"; 
                            dataString += "<th>Item Code</th>"; 
                            dataString += "<th>Item Name</th>"; 
                            dataString += "<th>Transaction Type</th>"; 
                            dataString += "<th>Document Number</th>"; 
                            dataString += "<th>Document Date</th>"; 
                            dataString += "<th>Warehouse</th>"; 
                            dataString += "<th>Production Date</th>"; 
                            dataString += "<th>Expiry Date</th>"; 
                            dataString += "<th>Quantity</th>"; 
                            dataString += "<th>UOM</th>"; 
                            dataString += "</tr>";
                            dataString += "</thead>"; 

                        var sumQTY = 0;
                        var incomingsumQTY = 0;
                        var outgointsumQTY = 0;
                        var adjustmentsumQTY = 0;
                        var transfersumQTY = 0;
                        var warehouseSumQTY = 0;
                        console.log(item_code.length)

                        if(item_code.length > 0){
                            forData.forEach((element, i) => {
                                for (let index = 0; index < element.product.length; index++) {
                                    const data = element.product[index];
                                    console.log(data)


                                    if(data.product_code == item_code){
                                        const warehouse_data = element.warehouse_data[index];
                                        dataString += "<tr>"; 
                                        dataString += "<td>" + data.product_code + "</td>"; 
                                        dataString += "<td>" + data.product_name + "</td>"; 
                                        dataString += "<td> Incoming </td>"; 3
                                        dataString += "<td>" + data.invoice + "</td>"; 
                                        dataString += "<td>" + element.date + "</td>"; 
                                        dataString += "<td>" + element.warehouse_name + "</td>"; 
                                        dataString += "<td>" + data.production_date + "</td>"; 
                                        dataString += "<td>" + data.expiry_date + "</td>"; 
                                        dataString += "<td>" + formatNumber(data.quantity) + "</td>"; 
                                        dataString += "<td>" + data.standard_unit + "</td>"; 
                                        dataString += "</tr>"; 

                                        incomingsumQTY += formatNumber(data.quantity);

                                        for (let a = 0; a < sales[data.invoice].length; a++) {
                                            const sales_data = sales[data.invoice][a];
                                                if(warehouse_data._id == sales_data.id_transaction_from){
                                                    if(sales_data.product_code == item_code){
                                                        dataString += "<tr>"; 
                                                        dataString += "<td>" + sales_data.product_code + "</td>"; 
                                                        dataString += "<td>" + sales_data.product_name + "</td>"; 
                                                        dataString += "<td> Outgoing </td>"; 3
                                                        dataString += "<td>" + sales_data.invoice + "</td>"; 
                                                        dataString += "<td>" + sales_data.date + "</td>"; 
                                                        dataString += "<td>" + sales_data.warehouse_name + "</td>"; 
                                                        dataString += "<td>" + sales_data.production_date + "</td>"; 
                                                        dataString += "<td>" + sales_data.expiry_date + "</td>"; 
                                                        dataString += "<td>-" + formatNumber(sales_data.quantity_available) + "</td>"; 
                                                        dataString += "<td>" + sales_data.UOM + "</td>"; 
                                                        dataString += "</tr>"; 
                                                        outgointsumQTY += formatNumber(sales_data.quantity_available)
                                                    }
                                                    
                                                }
                                        }

                                        for (let b = 0; b < adjustment[data.invoice].length; b++) {
                                            const adjustment_data = adjustment[data.invoice][b];
                                            if(adjustment_data.product_code == item_code){
                                                if(warehouse_data._id == adjustment_data.id_transaction_from){
                                                    dataString += "<tr>"; 
                                                    dataString += "<td>" + adjustment_data.product_code + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.product_name + "</td>"; 
                                                    dataString += "<td> Adjustment </td>"; 
                                                    dataString += "<td>" + adjustment_data.invoice + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.warehouse_name + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.production_date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.expiry_date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.quantity_available + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.UOM + "</td>"; 
                                                    dataString += "</tr>"; 
                                                    adjustmentsumQTY += adjustment_data.quantity_available
                                                }
                                            }
                                            
                                        }

                                        for (let b = 0; b < transfer[data.invoice].length; b++) {
                                            const transfer_data = transfer[data.invoice][b];
                                            
                                            if(warehouse_data._id == transfer_data.id_transaction_from){
                                                console.log(warehouse_data._id + " <> " + transfer_data.id_transaction_from)
                                                dataString += "<tr>"; 
                                                dataString += "<td>" + transfer_data.product_code + "</td>"; 
                                                dataString += "<td>" + transfer_data.product_name + "</td>"; 
                                                dataString += "<td> Transfer </td>"; 
                                                dataString += "<td>" + transfer_data.invoice + "</td>"; 
                                                dataString += "<td>" + transfer_data.date + "</td>"; 
                                                dataString += "<td>" + transfer_data.warehouse_name + "</td>"; 
                                                dataString += "<td>" + transfer_data.production_date + "</td>"; 
                                                dataString += "<td>" + transfer_data.expiry_date + "</td>"; 
                                                dataString += "<td>" + transfer_data.quantity_available + "</td>"; 
                                                dataString += "<td>" + transfer_data.UOM + "</td>"; 
                                                dataString += "</tr>"; 
                                                transfersumQTY += transfer_data.quantity_available
                                            }
                                        }

                                            dataString += "<tr style='background-color: lightcoral; color: black;'>"; 
                                            dataString += "<td>" + warehouse_data.product_code + "</td>"; 
                                            dataString += "<td>" + warehouse_data.product_name + "</td>"; 
                                            dataString += "<td> Warehouse Stock </td>"; 
                                            dataString += "<td>" + warehouse_data.invoice + "</td>"; 
                                            dataString += "<td>" + element.date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.warehouse_name + "</td>"; 
                                            dataString += "<td>" + warehouse_data.production_date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.expiry_date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.quantity_available + "</td>"; 
                                            dataString += "<td>" + warehouse_data.UOM + "</td>"; 
                                            dataString += "</tr>"; 
                                            warehouseSumQTY += warehouse_data.quantity_available

                                    }
                                    
                                }
                                })


                                        dataString += "<tr>"; 
                                        dataString += "<td colspan='10'><strong>" + "SUM: " + (incomingsumQTY - (outgointsumQTY + adjustmentsumQTY + transfersumQTY)) + "</strong></td>"; 
                                        dataString += "</tr>"; 
                                        dataString += "</table>"; 
                                        dataString += "</div>"; 
                                        dataString += "</div>"; 
                                        dataProcess.innerHTML = dataString;
                        }else{
                            forData.forEach((element, i) => {
                                for (let index = 0; index < element.product.length; index++) {
                                    const data = element.product[index];
                                        const warehouse_data = element.warehouse_data[index];
                                        dataString += "<tr>"; 
                                        dataString += "<td>" + data.product_code + "</td>"; 
                                        dataString += "<td>" + data.product_name + "</td>"; 
                                        dataString += "<td> Incoming </td>"; 3
                                        dataString += "<td>" + data.invoice + "</td>"; 
                                        dataString += "<td>" + element.date + "</td>"; 
                                        dataString += "<td>" + element.warehouse_name + "</td>"; 
                                        dataString += "<td>" + data.production_date + "</td>"; 
                                        dataString += "<td>" + data.expiry_date + "</td>"; 
                                        dataString += "<td>" + data.quantity + "</td>"; 
                                        dataString += "<td>" + data.standard_unit + "</td>"; 
                                        dataString += "</tr>"; 

                                        incomingsumQTY += data.quantity;

                                        for (let a = 0; a < sales[data.invoice].length; a++) {
                                            const sales_data = sales[data.invoice][a];
                                                if(warehouse_data._id == sales_data.id_transaction_from){
                                                    
                                                        dataString += "<tr>"; 
                                                        dataString += "<td>" + sales_data.product_code + "</td>"; 
                                                        dataString += "<td>" + sales_data.product_name + "</td>"; 
                                                        dataString += "<td> Outgoing </td>"; 3
                                                        dataString += "<td>" + sales_data.invoice + "</td>"; 
                                                        dataString += "<td>" + sales_data.date + "</td>"; 
                                                        dataString += "<td>" + sales_data.warehouse_name + "</td>"; 
                                                        dataString += "<td>" + sales_data.production_date + "</td>"; 
                                                        dataString += "<td>" + sales_data.expiry_date + "</td>"; 
                                                        dataString += "<td>-" + sales_data.quantity_available + "</td>"; 
                                                        dataString += "<td>" + sales_data.UOM + "</td>"; 
                                                        dataString += "</tr>"; 
                                                        outgointsumQTY += sales_data.quantity_available
                                              
                                                    
                                                }
                                        }

                                        for (let b = 0; b < adjustment[data.invoice].length; b++) {
                                            const adjustment_data = adjustment[data.invoice][b];
                                         
                                                if(warehouse_data._id == adjustment_data.id_transaction_from){
                                                    dataString += "<tr>"; 
                                                    dataString += "<td>" + adjustment_data.product_code + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.product_name + "</td>"; 
                                                    dataString += "<td> Adjustment </td>"; 
                                                    dataString += "<td>" + adjustment_data.invoice + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.warehouse_name + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.production_date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.expiry_date + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.quantity_available + "</td>"; 
                                                    dataString += "<td>" + adjustment_data.UOM + "</td>"; 
                                                    dataString += "</tr>"; 
                                                    adjustmentsumQTY += adjustment_data.quantity_available
                                                }
                                            
                                            
                                        }

                                        for (let b = 0; b < transfer[data.invoice].length; b++) {
                                            const transfer_data = transfer[data.invoice][b];
                                            
                                            if(warehouse_data._id == transfer_data.id_transaction_from){
                                                dataString += "<tr>"; 
                                                dataString += "<td>" + transfer_data.product_code + "</td>"; 
                                                dataString += "<td>" + transfer_data.product_name + "</td>"; 
                                                dataString += "<td> Transfer </td>"; 
                                                dataString += "<td>" + transfer_data.invoice + "</td>"; 
                                                dataString += "<td>" + transfer_data.date + "</td>"; 
                                                dataString += "<td>" + transfer_data.warehouse_name + "</td>"; 
                                                dataString += "<td>" + transfer_data.production_date + "</td>"; 
                                                dataString += "<td>" + transfer_data.expiry_date + "</td>"; 
                                                dataString += "<td>" + transfer_data.quantity_available + "</td>"; 
                                                dataString += "<td>" + transfer_data.UOM + "</td>"; 
                                                dataString += "</tr>"; 
                                                transfersumQTY += transfer_data.quantity_available
                                            }
                                        }

                                            dataString += "<tr style='background-color: lightcoral; color: black;'>"; 
                                            dataString += "<td>" + warehouse_data.product_code + "</td>"; 
                                            dataString += "<td>" + warehouse_data.product_name + "</td>"; 
                                            dataString += "<td> Warehouse Stock </td>"; 
                                            dataString += "<td>" + warehouse_data.invoice + "</td>"; 
                                            dataString += "<td>" + element.date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.warehouse_name + "</td>"; 
                                            dataString += "<td>" + warehouse_data.production_date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.expiry_date + "</td>"; 
                                            dataString += "<td>" + warehouse_data.quantity_available + "</td>"; 
                                            dataString += "<td>" + warehouse_data.UOM + "</td>"; 
                                            dataString += "</tr>"; 
                                            warehouseSumQTY += warehouse_data.quantity_available

                                    
                                    
                                }
                                })


                                        dataString += "<tr>"; 
                                        dataString += "<td colspan='10'><strong>" + "SUM: " + (incomingsumQTY - (outgointsumQTY + adjustmentsumQTY + transfersumQTY)) + "</strong></td>"; 
                                        dataString += "</tr>"; 
                                        dataString += "</table>"; 
                                        dataString += "</div>"; 
                                        dataString += "</div>"; 
                                        dataProcess.innerHTML = dataString;
                        }
                        
                       

                    }
                })
            })
        });

        function view_detail(id) {
            var product_category = $('#product_category').val();
            var transaction_category = $('#transaction_category').val();
            if(product_category == "fg"){
                switch (transaction_category) {
                    case "IC":
                        var url = "./viewdata_inc_fg/" + id;
                        window.open(url, "_blank");
                    break;

                    case "OG":
                        var url = "./viewdata_og_fg/" + id;
                        window.open(url, "_blank");
                    break;


                    case "AJ":
                        var url = "./viewdata_aj_fg/" + id;
                        window.open(url, "_blank");
                    break;


                    case "TF":
                        var url = "./viewdata_tf_fg/" + id;
                        window.open(url, "_blank");
                    break;
                
                    
                }

            }else if(product_category == "rm"){

            }
            
        }
    
        function printDivAll(){

            var buttonToRemove = document.getElementsByName("barcode_print1");
            
            for(let x = 0; x < buttonToRemove.length - 1; x++){
                buttonToRemove[x].style.display = "none";
                
            }
            
            var printContents = document.getElementById("dataProcess").innerHTML;
            
            var printWindow = window.open('', '_blank');
  
                printWindow.document.open();
                printWindow.document.write('<html><head><title>Print</title> ');

                printWindow.document.write('<link href="../../../vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">');
                printWindow.document.write('<link href="../../../css/style2.css" rel="stylesheet"></link>');
                
                printWindow.document.write('</head><body>');
                printWindow.document.write(printContents);
                

                printWindow.document.write('</body></html>');
                
                printWindow.document.close();
                setTimeout(function() {
                    printWindow.print();


                    for(let x = 0; x < buttonToRemove.length - 1; x++){
                        buttonToRemove[x].style.display = "block";
                    }
                    // buttonToRemove.style.display = "block";
                }, 1500);

        }
        


        function printDiv(i){

            var buttonToRemove = document.getElementsByName("barcode_print1");

            for(let x = 0; x < buttonToRemove.length - 1; x++){
                if(x == i){
                     buttonToRemove[x].style.display = "none";
                }
               
                
            }

            var printContents = document.getElementById("data"+i).innerHTML;

            var printWindow = window.open('', '_blank');

                printWindow.document.open();
                printWindow.document.write('<html><head><title>Print</title> ');
                printWindow.document.write('<link href="../../../vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">');
                printWindow.document.write('<link href="../../../css/style2.css" rel="stylesheet"></link>');
                printWindow.document.write('</head><body>');
                printWindow.document.write(printContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                setTimeout(function() {
                    printWindow.print();
                    for(let x = 0; x < buttonToRemove.length - 1; x++){
                        if(x == 1){
                            buttonToRemove[x].style.display = "block";
                        }
                    }
                }, 1500);
        }
    </script>
</body>
</html>