<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>
    <style>
        .color-legend {
            display: flex;
            align-items: center;
        }

        .color-box {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        .buttonload {
            border: solid; 
            border-width: 1px;
            padding: 12px 24px; /* Some padding */
            font-size: 16px; /* Set a font-size */
            width: 150px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <%- include('./partials/header_logo'); -%>
            <%- include('./partials/header',{titel: "Sales Order"}); -%>
                <%- include('./partials/sidebar_sa'); -%>
                    <div class="content-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"></h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info" onclick="window.location.href='/sales_sa/'">
                                                <i class="la la-undo"></i> <%= language.go_back %>
                                            </button>
                                            
                                        </div>
                                        <div class="card-body">
                                            <div class="form-validation">

                                                <form class="needs-validation" action="./<%= the_id %>"
                                                    method="post" id="form">

                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Document Number<span class="text-red">*</span></label>
                                                                <span><h3><%= sales_sa.invoice %></h3></span>
                                                                <input type="hidden" name="invoice" value="<%= sales_sa.invoice %>">
                                                            </div>
                                                        </div>


                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.customer %>  <span class="text-red">*</span></label>
                                                                <span><h3><%= sales_sa.customer %></h3></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.date %> <span class="text-red">*</span></label>
                                                                <span><h3><%= sales_sa.date %></h3></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-4 col-sm-4">
                                                            <div class="form-group">
                                                                <label for="invoice_no">JD<span class="text-red">*</span></label>
                                                                <span><h3><%= sales_sa.JD %></h3></span>
                                                            </div>
                                                        </div>
                                                            
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table primary-table-bordered text-center" id="sales_tbl_new">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th scope="col">Item Code </th>
                                                                        <th scope="col">Item Description </th>
                                                                        <th scope="col"><%= language.quantity %> </th>
                                                                        <th scope="col">Unit of Measure </th>
                                                                        <th scope="col">Price </th>
                                                                        <th scope="col">Discount Price </th>
                                                                        <th scope="col">Approved Discount Price<span class="text-red">*</span> </th>
                                                                        <th scope="col">Total Price </th>
                                                                    </tr>
                                                                </thead>
                                                                <% var total = 0; %>
                                                                <% var totalqty = 0; %>
                                                                <% var totalprices = 0; %>
                                                                <% var totaldiscprice = 0; %>
                                                                <% var totalacctdisc = 0; %>
                                                                <%
                                                                    const nFormat = new Intl.NumberFormat();
                                                                %>
                                                                <tbody id="tblPage_NewOut">
                                                                    <% sales_sa.sale_product.map((data) => { %>
                                                                        <tr>
                                                                            <td><%= data.product_code %></td>
                                                                            <td><%= data.product_name %></td>
                                                                            <td><%= nFormat.format(data.quantity) %></td>
                                                                            <td><%= data.unit %></td>
                                                                            <td><%= nFormat.format(data.price) %></td>
                                                                            <td><%= nFormat.format(data.discount) %></td>
                                                                            <td><%= nFormat.format(data.accounting_discount) %></td>
                                                                            <!-- <td><input type="number" name="accounting_discount" style="width: 200px;" id="accounting_discount" class="form-control" value="<%= data.accounting_discount %>"></td> -->
                                                                            <td><%= nFormat.format(data.totalprice)  %></td>
                                                                            <% total += parseInt(data.totalprice)  %>
                                                                            <% totalqty += parseInt(data.quantity)  %>
                                                                            <% totalprices += parseInt(data.price)  %>
                                                                            <% totaldiscprice += parseInt(data.discount)  %>
                                                                            <% totalacctdisc += parseInt(data.accounting_discount) %>
                                                                            <input type="hidden" name="prod_id" value="<%= data._id %>">
                                                                        </tr>

                                                                        
                                                                    <% }) %>


                                                                    <tr>
                                                                        <td colspan="1"></td>
                                                                        <td class="text-center"><b>TOTAL: </b></td>
                                                                        <td><b><%= nFormat.format(totalqty) %></b></td>
                                                                        <td></td>
                                                                        <td><b><%= nFormat.format(totalprices) %></b></td>
                                                                        <td><b><%= (totaldiscprice != null && !isNaN(totaldiscprice)) ? nFormat.format(totaldiscprice) : 0 %></b></td>
                                                                        <td><b><%= totalacctdisc %></b></td>
                                                                        <td><b><%= nFormat.format(total) %></b></td>
                                                                    </tr>
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                            <table class="table primary-table-bordered">
                                                                <thead class="thead-primary text-center">
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>Name</td>
                                                                        <td>Status</td>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="width: 200px;">Accountant Assign: </td>
                                                                        <td><b><%= approvers.account_data.name%></b></td>
                                                                        <td>
                                                                            <% if(approvers.accounting_account_confirm == "false"){ %>
                                                                                <select name="accounting_confirm" id="accounting_confirm" style="width: 200px;" class="text-center form-control">
                                                                                    <option value="false">Please Select</option>
                                                                                    <option value="true">Approved</option>
                                                                                    <option value="reject">Reject</option>
                                                                                </select>
                                                                            <% }else if(approvers.accounting_account_confirm == "true"){ %>
                                                                                <div class="alert alert-success" role="alert">
                                                                                    Approved
                                                                                </div>
                                                                            <% } else if(approvers.accounting_account_confirm == "reject") { %>
                                                                                <div class="alert alert-danger" role="alert">
                                                                                    Reject
                                                                                </div>
                                                                            <% } %>
                                                                            
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Warehouse Supervisor: </td>
                                                                        <td><%= approvers.wms_data.name%></td>
                                                                        <td class="text-center">
                                                                            
                                                                            <!-- <select name="wms_confirm" id="wms_confirm" class="text-center form-control">
                                                                                <option value="false">Please Select</option>
                                                                                <option value="true">Approved</option>
                                                                                <option value="reject">Reject</option>
                                                                            </select> -->

                                                                            <% if(approvers.wms_account_confirm == "false"){ %>
                                                                                <div class="alert alert-primary" role="alert">
                                                                                    Pending
                                                                                </div>
                                                                            <% }else if(approvers.wms_account_confirm == "true"){ %>
                                                                                <div class="alert alert-success" role="alert">
                                                                                    Approved
                                                                                </div>
                                                                            <% } else if(approvers.wms_account_confirm == "reject") { %>
                                                                                <div class="alert alert-danger" role="alert">
                                                                                    Reject
                                                                                </div>
                                                                            <% } %>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="note"><%= language.note %> </label>
                                                                <input type="number" class="form-control"
                                                                    placeholder="note" id="note" name="note" value="<%= sales_sa.note %>" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <input type="hidden" name="the_id_val" value="<%= the_id %>">
                                                        <!-- <button class="btn btn-primary" type="submit" id="purchase_submit">Submit </button> -->
                                                    </div>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <%- include('./partials/footer'); -%>
    </div>
                    <%- include('./partials/toastr'); -%>
                    <%- include('./partials/script'); -%>
       
</body>

</html>