<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

</head>

<body>
    <!--*******************
    Preloader start
********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
    Preloader end
********************-->

    <!--**********************************
    Main wrapper start
***********************************-->
    <div id="main-wrapper">

        <!--**********************************
        Nav header start
    ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
        Nav header end
    ***********************************-->

            <!--**********************************
        Header start
    ***********************************-->
            <%- include('./partials/header',{titel: language.WareHouse_Map}); -%>

                <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

                <!--**********************************
        Sidebar start
    ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
        Sidebar end
    ***********************************-->

                    <div class="content-body">
                        <div class="container-fluid">
                            
                       </div>
                    </div>

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
    <!-- End Toastr -->

    <!--**********************************
        Scripts
    ***********************************-->
   
    <%- include('./partials/script'); -%>

        <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>