<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 3; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 50%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
          display: flex;
          justify-content: center;
          display: grid;
            place-items: center;
        }
    </style>

</head>

<body onload="" >
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: "Warehouse Checker"}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"> Checkers</h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div>
                                        <div class="card-body" style="display: block;" >
                                            <div class="form-validation">

                                                <form class="needs-validation" action="/all_purchases_finished/process/<%= //purchases_data._id %>" method="post" id="form">
                                                    <!-- <div class="row"> -->
                                                        <div class="form-group d-flex align-items-center">
                                                            <select class="form-control" id="type_of_process" name="type_of_process" style="flex: 1;">
                                                                <option value="inc">Incoming</option>
                                                                <option value="out">Outgoing</option>
                                                            </select>
                                                            <a class="btn btn-primary ml-2" type="submit" id="scan_button"  >Scan now</a>
                                                            <input type="hidden" name="product_code" style="position: absolute; left: -9999px;" class="form-control" id="product_code" value="">
                                                        </div>
                                                    <!-- </div> -->
                                                    
                                                </form>
                                            </div>
                                        </div>


                                        <div class="card-header">
                                            <h4 class="card-title"> History </h4>
                                        </div>

                                        <div class="card-body" style="display: block;" >
                                            <div class="table-responsive">
                                                <table class="table primary-table-bordered" id="purchases_tbl_new">
                                                    <thead class="thead-primary" style="text-align: center;">
                                                        <tr>
                                                            <th scope="col">Date </th>
                                                            <th scope="col">Location</th>
                                                            <th scope="col">Product </th>
                                                            <th scope="col">Qty </th>
                                                            <th scope="col">Confirm By </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tblPage_new">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->

        <%- include('./partials/script'); -%>

            <!--**********************************
        Scripts end
    ***********************************-->


    <script>

        function toggleButton() {
            const buttonData = $('#scan_button');
            const options = {
                timeZone: 'Asia/Manila',
                hour12: false, // Use 24-hour format (military time)
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            };
            const manilaTime = new Intl.DateTimeFormat('en-US', options).format(new Date());
            if (buttonData.hasClass('btn-primary')) {
                buttonData.removeClass('btn-primary').addClass('btn-danger');
                buttonData.text('Stop Barcode');
                const barcodeInput = document.getElementById('product_code');
               
                barcodeInput.type = 'text';
                barcodeInput.focus()
                var x=1;
                var lastIncre = 0;
                // console.log(barcodeInput.value)
           
                $('#product_code').on('input', function() {
                    var productCode = $(this).val(); 
                    var type_of_process = $("#type_of_process").val();
                    console.log(type_of_process + " <> " +productCode)

                    $.ajax({
                    url: '/warehouse_checker/check_to_confirm', 
                    method: 'POST',
                    data: { product_code: productCode }, 
                    success: function(response) {
                        $.each(response, function(index, data) {
                            console.log(data)

                                Swal.fire({
                                        // title: 'Warehouse: TAGUIG \n Rack: 1',
                                        width: "70%",
                                        allowOutsideClick: false,
                                        html: `
                                        <div class="card-header">
                                            <h4 class="card-title col-6">Data Retrieved </h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="example" class="table primary-table-bordered text-center">
                                                    <thead class="thead-primary">
                                                        <tr>
                                                            <th style="width: 150px">Warehouse</th>
                                                            <th style="width: 150px">Rack</th>
                                                            <th style="width: 150px">Location</th>
                                                            <th style="width: 150px">Product Code </th>
                                                            <th style="width: 150px">Item Description </th>
                                                            <th style="width: 150px">Qty  </th>
                                                            <th style="width: 150px" colspan="2">Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="table-primary">
                                                            <td style="width: 150px">`+data.warehouse+`</td>
                                                            <td style="width: 150px">`+data.room_name+`</td>
                                                            <td style="width: 150px">`+data.level+data.bay+`</td>
                                                            <td style="width: 150px">`+data.product_code+`</td>
                                                            <td style="width: 150px">`+data.product_name+`</td>
                                                            <td style="width: 150px">`+data.product_stock+`</td>
                                                            <td style="width: 150px"><a class="btn ml-2 btn-primary" type="submit" onclick="to_confirm('`+data._id+`')" id="confirm_data">Confirm</a></td>
                                                            <td style="width: 150px"><a class="btn ml-2 btn-danger" type="submit" id="reject_data">Cancel</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        `,
                                        icon: 'info',  
                                        // confirmButtonText: 'OK'
                                    });
                            })
                    document.getElementById("product_code").value='';
                    },
                    error: function(error){
                        document.getElementById("product_code").value='';
                    }
                    
                    })
                    // document.getElementById("product_code").value='';

                    // alert(productCode)
                })

            } else {
                buttonData.removeClass('btn-danger').addClass('btn-primary');
                buttonData.text('Scan Barcode');
                const barcodeInput = document.getElementById('product_code');
                barcodeInput.type = 'hidden';
                barcodeInput.blur();
            }
        }

        function to_confirm(id){
            Swal.fire({
                allowOutsideClick: false,
                title: "Do you want to save the changes?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Confirm",
                denyButtonText: `No`
            }).then((result) => {

                if (result.isConfirmed) {
                    // Swal.fire("Saved!", id, "success").then(() => {
                        
                    // });
                    $.ajax({
                        url: '/warehouse_checker/confirm_data', 
                        method: 'POST',
                        data: { id_data: id }, 
                        success: function(response) {
                            console.log(id)
                        }
                    })


                }
            });
        }

        $(document).ready(function() {

            $('#scan_button').click(function () {
                toggleButton();
            })


            
        })
    </script>
</body>

</html>